.row
  .span8
    %legend= t(:'devise.resend_confirmation.title')
    = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
      = devise_error_messages!
      .control-group
        = f.label :email, :class => 'control-label'
        .controls
          = f.email_field :email
      .form-actions= f.submit t(:'devise.resend_confirmation.submit'), :class => 'btn btn-large'
  .span4
    %legend= t(:'devise.tools.title')
    = render "users/shared/links"
