= form_for(provider) do |f|
  = render :partial => "shared/form_errors", :locals => { :object => provider }
  .field
    = f.label :name
  .field
    = f.text_field :name
  .field
    = f.label :description
  .field
    = f.text_area :description
  .field
    = f.label :category
  .field
    = f.select :category_id, root_categories.collect{|c| [c.name, c.id]}
  .actions
    = f.submit
