.row
  .span16
    = f.label :name
    = f.text_field :name, :class => 'span12'
.row
  .span16
    = f.label :logo
    = image_tag(provider.logo_url(:thumb)) if provider.logo?
    = f.file_field :logo
    = f.hidden_field :logo_cache

.row
  .span8
    %h4= t(:'admin.custom_fields.headers.title')
    = f.fields_for :custom_field_bindings do |b|
      = render :partial => 'custom_field_bindings/custom_field_binding_fields', :locals => { :f => b }
    .fields= link_to_add_fields "Add custom field", f, :custom_field_bindings
  .span8
    %h4= t(:'admin.custom_flags.headers.title')
    = f.fields_for :custom_flag_bindings do |b|
      = render :partial => 'custom_flag_bindings/custom_flag_binding_fields', :locals => { :f => b }
    .fields= link_to_add_fields "Add custom flag", f, :custom_flag_bindings
%hr/
.row
  .span8
    %fieldset
      %legend= t(:'admin.users.legends.address')
      = f.fields_for :location do |l|
        = render :partial => 'providers/location_fields', :locals => { :f => l }
  .span8
    %fieldset
      %legend= t(:'admin.users.legends.contacts')
      = f.fields_for :contacts do |c|
        .fields
          = render :partial => 'contacts/contact_fields', :locals => { :f => c }
      .fields= link_to_add_fields "Add contact", f, :contacts

%hr/
.row
  .span8
    = f.label :description
    = f.text_area :description, :class => 'span8'
  .span8
    = f.label :description_uk
    = f.text_area :description_uk, :class => 'span8'

.row
  .span8
    = f.label :more_info
    = f.text_area :more_info, :class => 'span8'
  .span8
    = f.label :more_info_uk
    = f.text_area :more_info_uk, :class => 'span8'

.row
  .span8
    = f.label :documents_info
    = f.text_area :documents_info, :class => 'span8'
  .span8
    = f.label :documents_info_uk
    = f.text_area :documents_info_uk, :class => 'span8'

%hr/
.row
  .span8
    %h4= t(:'admin.users.legends.filials')
    = f.fields_for :filials do |fi|
      = render :partial => 'filials/filial_fields', :locals => { :f => fi }
    .fields= link_to_add_fields "Add filial", f, :filials
%hr/
.row
  .span16
    %h4= t(:'admin.users.legends.categories')
    -#= render :partial => '/providers/category_fields', :locals => { :f => f, :provider => provider }
    = render :partial => 'category_fields', :locals => { :f => f, :provider => provider }
