.row
  .span12
    %fieldset
      %legend= t(:'providers.edit.title')
      .control-group
        = f.label :name, :class => 'control-label'
        .controls
          = f.text_field :name, :class => 'span8'
      .control-group
        = f.label :logo, :class => 'control-label'
        .controls
          = f.file_field :logo
          = f.hidden_field :logo_cache

      - if provider.logo?
        .control-group
          %label.control-label
            = image_tag(provider.logo_url(:thumb))
          .controls
            %label.checkbox
              = f.check_box :remove_logo
              = t(:'providers.edit.check_to_remove')
.row
  .span6
    %fieldset
      %legend= t(:'providers.custom_fields.title')

      = f.fields_for :custom_field_bindings do |b|
        = render :partial => 'custom_field_bindings/custom_field_binding_fields', :locals => { :f => b }
      .fields= link_to_add_fields t(:'providers.custom_fields.add').html_safe, f, :custom_field_bindings
  .span6
    %fieldset
      %legend= t(:'admin.custom_flags.headers.title')
      .alert.alert-notice.fade.in{ "data-dismiss" => "alert" }
        %a.close{:href => '#'} x
        help text
      = f.fields_for :custom_flag_bindings do |b|
        = render :partial => 'custom_flag_bindings/custom_flag_binding_fields', :locals => { :f => b }
      .fields= link_to_add_fields t(:'providers.custom_flags.add').html_safe, f, :custom_flag_bindings
%br
.row
  .span6
    %fieldset
      %legend= t(:'admin.users.legends.address')
      = f.fields_for :location do |l|
        = render :partial => 'addresses/location_fields', :locals => { :f => l }
  .span6
    %fieldset
      %legend= t(:'admin.users.legends.contacts')
      = f.fields_for :contacts do |c|
        = render :partial => 'contacts/contact_fields', :locals => { :f => c }
      .fields= link_to_add_fields t(:'providers.add_contact').html_safe, f, :contacts
%br
%legend= t(:'providers.edit.description')
.row
  .span10
    = f.label :description
    = f.cktext_area :description, :toolbar => 'Basic'
  -#.span6
    = f.label :description_uk
    = f.cktext_area :description_uk, :toolbar => 'Basic'
.row
  .span10
    %br/
    = f.label :more_info
    = f.cktext_area :more_info, :toolbar => 'Basic'
  -#.span6
    = f.label :more_info_uk
    = f.cktext_area :more_info_uk, :toolbar => 'Basic'
.row
  .span10
    %br/
    = f.label :documents_info
    = f.cktext_area :documents_info, :toolbar => 'Basic'
  -#.span6
    = f.label :documents_info_uk
    = f.cktext_area :documents_info_uk, :toolbar => 'Basic'
%br/
.row
  .span12
    %fieldset
      %legend= t(:'admin.users.legends.filials')
    %br/
    = f.fields_for :filials do |fi|
      = render :partial => 'filials/filial_fields', :locals => { :f => fi }
.row
  .span12
    %fieldset
      = link_to_add_fields t(:'providers.edit.filials.add'), f, :filials
%hr/
.row
  .span12
    %fieldset
      %legend= t(:'admin.users.legends.categories')
      = render :partial => 'providers/category_fields', :locals => { :f => f, :provider => provider }
