.row
  .span12
    %fieldset
      %legend= t(:'providers.edit.title')
      .control-group
        = f.label :name, :class => 'control-label'
        .controls
          = f.text_field :name, :class => 'span8'
      .control-group
        = f.label :logo, :class => 'control-label'
        .controls
          .row
            .span3
              = f.file_field :logo
              = f.hidden_field :logo_cache
            .span5
              .alert.alert-success
                Допустимый формат изображения:
                %b JPG (JPEG), PNG, GIF
                %br/
                Максимальный объем:
                %b 1 Мб.
      - if provider.logo?
        .control-group
          %label.control-label
            = image_tag(provider.logo_url(:thumb))
          .controls
            %label.checkbox
              = f.check_box :remove_logo
              = t(:'providers.edit.check_to_remove')
.row
  .span6
    %fieldset
      %legend= t(:'providers.custom_fields.title')

      = f.fields_for :custom_field_bindings do |b|
        = render :partial => 'custom_field_bindings/custom_field_binding_fields', :locals => { :f => b }
      .fields= link_to_add_fields t(:'providers.custom_fields.add').html_safe, f, :custom_field_bindings
  .span6
    %fieldset
      %legend
        = t(:'admin.custom_flags.headers.title')
        %code эта функция только для ВУЗов!
      -#.alert.alert-success.fade.in
        = t(:'providers.custom_flags.only_for_highschool')
        %a.close{"data-dismiss"=>"alert"}
          x
      = f.fields_for :custom_flag_bindings do |b|
        = render :partial => 'custom_flag_bindings/custom_flag_binding_fields', :locals => { :f => b }
      .fields= link_to_add_fields t(:'providers.custom_flags.add').html_safe, f, :custom_flag_bindings
%br
%legend= t(:'admin.users.legends.address')
.row
  .span6
    %fieldset
      = f.fields_for :location do |l|
        = render :partial => 'addresses/location_fields', :locals => { :f => l}
  .span6
    %fieldset
      = f.fields_for :contacts do |c|
        = render :partial => 'contacts/contact_fields', :locals => { :f => c }
      .fields= link_to_add_fields t(:'providers.add_contact').html_safe, f, :contacts
%br/
%legend= t(:'providers.main_info')
.row
  .span10
    - if authorized?
      = f.cktext_area :description, :toolbar => ('Advanced')
    - else
      = f.cktext_area :description, :toolbar => ('Basic')
%br/
%legend= t(:'providers.more_info')
.row
  .span10
    - if authorized?
      = f.cktext_area :more_info, :toolbar => 'Advanced'
    - else
      = f.cktext_area :more_info, :toolbar => 'Basic'
%br/
%legend= t(:'providers.documents_info')
.row
  .span10
    - if authorized?
      = f.cktext_area :documents_info, :toolbar => 'Advanced'
    - else
      = f.cktext_area :documents_info, :toolbar => 'Basic'
-#%br/
- unless controller.send(:_layout) == 'admin'
  - unless controller.action_name == 'new'
    .row
      .span12
        -#%fieldset
          %legend= t(:'admin.users.legends.filials')
        -#%br/
        = f.fields_for :filials do |fi|
          = render :partial => 'filials/filial_fields', :locals => { :f => fi }
    -#.row
      .span12
        %fieldset
          = link_to_add_fields t(:'providers.edit.filials.add'), f, :filials
-#%hr/
%br/
.row
  .span12
    %fieldset
      %legend= t(:'admin.users.legends.categories')
      = render :partial => 'providers/category_fields', :locals => { :f => f, :provider => provider }
