- if current_user
  - if ( provider.user === current_user ) || current_user.administrator?
    = link_to edit_provider_path(provider) do
      %p
        %i.icon.icon-pencil
        = t(:'site.actions.edit')

    - if current_user.provider
      - if !current_user.provider.is_approved?
        .alert.alert-info.alert-block
          %h4.alert-heading= t(:'providers.edit.not_approved.title')
          %p= t(:'providers.edit.not_approved.desc').html_safe
    %hr

.row
  .span12
    #vk_like
    :javascript
      VK.Widgets.Like("vk_like", {type: "button", verb: 1});
    .fb-like( data-send = "true" data-layout = "button_count" data-width = "450" data-show-faces = "true" )


%ul.breadcrumb
  %li= link_to( provider.category, category_path(provider.category) ) if provider.category
  %span.divider
    \/
  %li= link_to provider



.row
  .span8
    .row
      .span3
        - if provider.logo_url
          .thumbnail
            = image_tag provider.logo_url(:medium).to_s
      .span5

        %h1= provider.name

        .update-info
          %strong
            Последнее изменение:
          = time_ago_in_words(provider.updated_at)
          назад
        - if current_user
          - if current_user.visitor?
            - unless provider.student_users.include?(current_user)
              = link_to 'Я учусь здесь!', join_provider_students_path(provider), :class => 'label label-info'
            - else
              = link_to 'Я больше не учусь здесь!', leave_provider_students_path(provider), :class => 'label label-info'

    %br/
    %table.table.table-striped.table-condensed
      - if provider.custom_fields.size > 0
        - for f in provider.custom_field_bindings.sort_by{|i| i.position} do
          %tr
            %td
              %span
                %b= f.name
            %td
              = f.value
        - if provider.location
          %tr
            %td
              %span
                %b= t(:'providers.custom_fields.address')
            %td
              = address_value provider.location



    %ul#ProviderTabs.nav.nav-tabs
      %li.active
        %a( href = "#description" data-toggle = "tab" )
          = t(:'providers.main_info')
      - if !provider.more_info.blank?
        %li
          %a( href = "#more_info" data-toggle = "tab" )
            = t(:'providers.more_info')
      - if !provider.documents_info.blank?
        %li
          %a( href = "#documents_info" data-toggle = "tab" )
            = t(:'providers.documents_info')



    #myTabContent.tab-content
      #description.tab-pane.fade.active.in
        - if !provider.description.blank?
          .description= markdown provider.description
        - else
          %p= t(:'providers.visit_website_for_more_info')
      #more_info.tab-pane.fade
        - if !provider.more_info.blank?
          .more-info= markdown provider.more_info
      #documents_info.tab-pane.fade
        - if !provider.documents_info.blank?
          .documents-info= markdown provider.documents_info


    - if current_user
      - if current_user.administrator?
        %hr/
        = link_to admin_user_path(provider.user), :method => :delete, :confirm => t(:'admin.users.confirms.user_destroy') do
          %i.icon.icon-remove
          = t(:'site.actions.destroy_user')
  .span4
    .categories
      - if provider.categorizings.size > 0
        %h2.block-title= t(:'providers.categories')
        %ul
          - for categorizing in provider.categorizings do
            %li= link_to categorizing, category_path(categorizing.category.permalink)

    %h2.block-title=t(:'providers.custom_fields.title')
    %table.table.table-striped.table-condensed
      - if provider.custom_flag_bindings.size > 0
        - for field in provider.custom_flag_bindings.sort_by{|i| i.position} do
          %tr
            %td
              %span= field.custom_flag.name
            %td
              - if field.value == true
                .label.label-success
                  = t(:'providers.custom_flags.true_value')
              - else
                .label.label-important
                  = t(:'providers.custom_flags.false_value')

    %h2.block-title=t(:'providers.contacts')
    - for contact in provider.contacts.by_type do
      %p
        - unless contact.contact_type =~ /twitter|facebook|vkontakte|google|youtube/
          %span{ :class => "span-icon icon-#{contact.contact_type}" }
          = contact_value contact
    %hr/
    %p
      - for contact in provider.contacts.by_type
        - if contact.contact_type =~ /twitter|facebook|vkontakte|google|youtube/
          = social_icon contact
    %br


    - if provider.filials.size > 0


      %h2.block-title= t(:'providers.filials')

      #accordion2.accordion
        - provider.filials.each_with_index do |filial, index|
          .accordion-group
            .accordion-heading
              %a( class="accordion-toggle" data-toggle = "collapse" data-parent = "#accordion2"){ :href => "#collapse" + index.to_s}
                - if filial.name.present?
                  = filial.name
                - else
                  No filial name
              .accordion-body.collapse.in{ :id => "collapse" + index.to_s }
                .accordion-inner
                  %p
                    = address_value filial.location

                  - if filial.contacts.size > 0
                    - for contact in filial.contacts.by_type do
                      %p
                        - unless contact.contact_type =~ /twitter|facebook|vkontakte|google|youtube/
                          %span{ :class => "span-icon icon-#{contact.contact_type}" }
                          = contact_value contact
                  %p
                    - for contact in provider.contacts.by_type
                      - if contact.contact_type =~ /twitter|facebook|vkontakte|google|youtube/
                        = social_icon contact
