- if current_user
  - if ( provider.user === current_user ) || current_user.administrator?
    = link_to edit_provider_path(provider) do
      %i.icon.icon-pencil
      = t(:'site.actions.edit')

%hr
= link_to( provider.category, category_path(provider.category) ) if provider.category
&gt;
= link_to provider
%hr
.row
  .span8
    .row
      .span3
        - if provider.logo_url
          .thumbnail
            = image_tag provider.logo_url(:medium).to_s
      .span5

        %h1= provider.name

        .update-info
          %strong
            Последнее изменение:
          = time_ago_in_words(provider.updated_at)
          назад
        - if current_user
          - if current_user.visitor?
            - unless provider.student_users.include?(current_user)
              = link_to 'Я учусь здесь!', join_provider_students_path(provider), :class => 'label label-info'
            - else
              = link_to 'Я больше не учусь здесь!', leave_provider_students_path(provider), :class => 'label label-info'

    %br/
    %table.table.table-striped.table-condensed
      - if provider.custom_fields.size > 0
        - for f in provider.custom_field_bindings.sort_by{|i| i.position} do
          %tr
            %td
              %span
                %b= f.name
            %td
              = f.value
        - if provider.location
          %tr
            %td
              %span
                %b= t(:'providers.custom_fields.address')
            %td
              = address_value provider.location

    .description= markdown provider.description
    - if provider.description.blank?
      %p= t(:'providers.description.visit_website_for_more_info')
    - if !provider.more_info.blank?
      %h3= t(:'providers.more_info')
      .more-info= markdown provider.more_info
    - if !provider.documents_info.blank?
      %h3= t(:'providers.documents_info')
      .documents-info= markdown provider.documents_info
    - if current_user
      - if current_user.administrator?
        %hr/
        = link_to admin_user_path(provider.user), :method => :delete, :confirm => t(:'admin.users.confirms.user_destroy') do
          %i.icon.icon-remove
          = t(:'site.actions.destroy_user')
  .span4
    .categories
      - if provider.categorizings.size > 0
        %h2.block-title= t(:'providers.categories')
        %ul
          - for categorizing in provider.categorizings do
            %li= link_to categorizing, category_path(categorizing.category.permalink), :class => 'link-icon icon-arrow'

    %h2.block-title=t(:'providers.custom_fields.title')
    %table.table.table-striped.table-condensed
      - if provider.custom_flag_bindings.size > 0
        - for field in provider.custom_flag_bindings.sort_by{|i| i.position} do
          %tr
            %td
              %span= field.custom_flag.name
            %td
              = check_box_tag 'flag', '', field.value, :disabled => true

    %h2.block-title=t(:'providers.contacts')
    - for contact in provider.contacts.by_type do
      %p
        - unless contact.contact_type =~ /twitter|facebook|vkontakte|google|youtube/
          %span{ :class => "span-icon icon-#{contact.contact_type}" }
          = contact_value contact
    %hr/
    %p
      - for contact in provider.contacts.by_type
        - if contact.contact_type =~ /twitter|facebook|vkontakte|google|youtube/
          = social_icon contact
    %br


    - if provider.filials.size > 0

      %h2.block-title= t(:'providers.filials')
      - for filial in provider.filials do
        -if filial.name.present?
          %h4= filial.name
        %p
          = address_value filial.location

        - if filial.contacts.size > 0
          - for contact in filial.contacts.by_type do
            %p
              - unless contact.contact_type =~ /twitter|facebook|vkontakte|google|youtube/
                %span{ :class => "span-icon icon-#{contact.contact_type}" }
                = contact_value contact
        %p
          - for contact in provider.contacts.by_type
            - if contact.contact_type =~ /twitter|facebook|vkontakte|google|youtube/
              = social_icon contact
