.image-container
  = image_tag provider.logo_url(:thumb).to_s
%h3
  = link_to( provider.category, category_path(provider.category) ) if provider.category
  &gt;
  = provider.name
.description= provider.description
- if provider.location
  .location
    = provider.location.city.region.name
    ,
    = provider.location.city.name
    = provider.location.street
    ,
    = provider.location.building
    ,
    = provider.location.apartment
.categories
  - provider.categorizings.each do |categorizing|
    = link_to categorizing, category_path(categorizing.category.permalink)
-#= link_to 'Edit', edit_provider_path(provider)
= link_to 'Back', providers_path
