= form_for custom_field, :url => custom_field.new_record? ? admin_custom_fields_path : admin_custom_field_path(custom_field)  do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => custom_field }
  .field
    = f.label :name
  .field
    = f.text_field :name
  .actions
    = f.submit
