%h2= t(:'admin.custom_fields.headers.title')
%p= link_to t(:'admin.custom_fields.buttons.create_custom_field'), new_admin_custom_field_path, :class => 'link-icon icon-add'
%hr/
%table
  %thead
    %th= t(:'admin.custom_fields.headers.custom_field_name')
    %th= t(:'admin.custom_fields.headers.custom_filed_uses')
  - for field in custom_fields do
    %tr
      %td= link_to field.name, edit_admin_custom_field_path(field)
      %td
%hr/
%p= link_to t(:'admin.custom_fields.buttons.create_custom_field'), new_admin_custom_field_path, :class => 'link-icon icon-add'
