.posting
  %hr/
  .row
    .span3
      - if !p.images.empty?
        = link_to p, :class => 'thumbnail' do
          = image_tag 'assets/logo.png', "data-original" => p.images.last.src_url(:medium).to_s, :width => '210px', :height => '129px'
    .span5
      %h4= link_to p.title, p
      .excerpt
        = p.excerpt
      .read-more= link_to t(:'postings.readmore'), p
      .user-bar
        = link_to p.user, p.user
        |
        = l p.created_at, :format => :long
        |
        = link_to '', posting_path(p) + '#disqus_thread'