%article.posting
  %hr/
  .row
    .span3
      - if !p.images.empty?
        = link_to p, :class => 'thumbnail' do
          = image_tag p.images.last.src_url(:medium).to_s

    .span5
      %h4= link_to p.title, p
      %p= p.excerpt
      %span= link_to t(:'postings.readmore'), p
      .user-bar
        = link_to p.user, p.user
        |
        = l p.created_at, :format => :long