.row
  .span12
    %ul.breadcrumb
      =breadcrumbs_for_category provider_category
    %h3= provider_category.name
    -#.description= category.description

    -#%ul.regions.clearfix
      -#- for region in regions
        -#%li
          -#= link_to region.name, '#'
          -#- if region.locations.size > 0
            -#%span= region.locations.size.to_s
    %ul.categories.clearfix
      - for child in provider_category.children
        %li
          %h3= link_to child, child
          - if child.children
            %ul.children-categories
              - for child in child.children
                %li= link_to child, child


    %ul.entries
      - for provider in providers
        = render :partial => 'provider_categories/provider', :locals => { :provider => provider }
    .page_navigation.clear= paginate providers
    %hr/
