#notifications
  .row
    .span4.providers
      %legend
        = t(:'admin.notifications.titles.providers')
        - unless providers_pending.size == 0
          %span.badge
            = providers_pending.size.to_s
      - unless providers_pending.size == 0
        - providers_pending.each do |p|
          .alert.alert-warning.item
            %h5= link_to truncate(p.name, length: 35), provider_path(p), :target => '_blank'
            %p
              = link_to p.user.email, user_path(p.user), :target => '_blank'
              #{time_ago_in_words p.created_at} назад
            %p
              = link_to approve_admin_provider_path(p), :confirm => t('providers.actions.approve.confirm', :name => p.name).html_safe do
                %i.icon.icon-ok-sign
                = t(:'admin.postings.actions.approve')
      - else
        = image_tag 'admin/jao-min-face.png'
    .span4.tutors
      %legend
        = t(:'admin.notifications.titles.tutors')
        - unless tutors_pending.size == 0
          %span.badge
            = tutors_pending.size.to_s
      - unless tutors_pending.size == 0
        - tutors_pending.each do |t|
          .alert.alert-warning.item
            %h5= link_to truncate(t.name, length: 35), tutor_path(t), :target => '_blank'
            %p
              = link_to t.user.email, user_path(t.user), :target => '_blank'
              #{time_ago_in_words t.created_at} назад
            %p
              = link_to approve_admin_tutor_path(t), :confirm => t('tutors.actions.approve.confirm', :name => t.name).html_safe do
                %i.icon.icon-ok-sign
                = t(:'admin.postings.actions.approve')
      - else
        = image_tag 'admin/jao-min-face.png'
    .span4.postings
      %legend
        = t(:'admin.notifications.titles.postings')
        - unless postings_pending.size == 0
          %span.badge
            = postings_pending.size.to_s
      - unless postings_pending.size == 0
        - postings_pending.each do |p|
          .alert.alert-info.item
            %h5= link_to truncate(p.title, length: 35), posting_path(p), :target => '_blank'
            %p
              = link_to p.user.email, user_path(p.user), :target => '_blank'
              #{time_ago_in_words p.created_at} назад
            %p
              = link_to approve_admin_posting_path(p), :confirm => t('postings.actions.approve.confirm', :title => p.title).html_safe do
                %i.icon.icon-ok-sign
                = t(:'admin.postings.actions.approve')
      - else
        = image_tag 'admin/jao-min-face.png'