.row
  .span3
    .image
      = image_tag profile.avatar_url(:medium), :class => 'rounded_4'
    %br
    %ul.nav.nav-list
      %li
        = link_to user_path(profile.user) do
          %i.icon-home.icon-dark
          = t(:'visitor.profile.home')
        = link_to user_postings_path(profile.user) do
          %i.icon-list-alt.icon-dark
          = t(:'visitor.profile.postings')
        - if profile.user === current_user
          = link_to new_user_posting_path(current_user) do
            %i.icon-plus-sign.icon-dark
            = t(:'visitor.profile.add_post')
  .span6
    %p
      %b= t(:'visitor.profile.birth_date')

      = l profile.birth_date, :format => :long_ordinal unless profile.birth_date.blank?

      -#= profile.birth_date.to_formatted_s(:long_ordinal)
    %p
      %b= t(:'visitor.profile.address')
      = address_value profile.location unless !profile.location.present?

    - for contact in profile.contacts.by_type do
      %p
        - unless contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|livejournal|blogger|google|youtube|vimeo/
          %span{ :class => "span-icon icon-#{contact.contact_type}" }
          = contact_value contact
    %hr/
    %p
      - for contact in profile.contacts.by_type
        - if contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|livejournal|blogger|google|youtube|vimeo/
          = social_icon contact
    %hr/
    .bio= profile.bio
  .span3
