.row
  .span3
    .profile-avatar
      = image_tag profile.avatar_url(:medium), :class => 'rounded_4'
      - if profile.user.administrator?
        .label-area
          %span Администратор
      - if authorized?
        %p
          = link_to 'mailto:'+profile.user.email+'?subject=Образовательный Портал КУРСОР' do
            %i.icon-envelope

  .span6
    - unless profile.full_name.blank?
      %p.lead
        = profile.full_name
    - else
      %p.lead
        = profile.user.email.split(/@/)[0]


    - unless profile.birth_date.blank?
      %p
        %b= t(:'visitor.profile.birth_date')
        = l profile.birth_date, :format => :long_ordinal
    - unless !profile.location.present?
      %p
        %b= t(:'visitor.profile.address')
        = address_value profile.location

    - for contact in profile.contacts.by_type do
      %p
        - unless contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|livejournal|blogger|google|youtube|vimeo/
          %span{ :class => "span-icon icon-#{contact.contact_type}" }
          = contact_value contact
    %hr/
    %p
      - for contact in profile.contacts.by_type
        - if contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|livejournal|blogger|google|youtube|vimeo/
          = social_icon contact
    %hr/
    .bio= profile.bio
  .span3
    - if profile.user.postings.present?
      %p.lead= t(:'seo.users.user_postings')
      %ul
        - for posting in profile.user.postings.published.approved.limit(5)
          %li= link_to posting.title, posting_path(posting)
        %li
          %b
            = link_to user_postings_path(profile.user) do
              = t(:'postings.all_postings')
              (#{profile.user.postings.published.approved.size})
    - if profile.user.students.present?
      %p.lead= t(:'students.studying_in')
      %ul
        - for student in profile.user.students
          - if student.provider.present?
            %li= link_to student.provider, provider_path(student.provider)

