.row#crop
  .span12

    %legend= t(:'crop.title')

    %p= t(:'crop.help_html')

    = image_tag profile.avatar_url(:large), :id => 'cropbox'

    -#%div{:style => "width:200px;height:280px;overflow:hidden;float:right;"}
      = image_tag profile.avatar.url(:large), :id => 'preview'

    = form_for profile, :html => { :class => 'form-horizontal' } do |f|
      - %w[x y w h].each do |attribute|
        = f.hidden_field "crop_#{attribute}"
      .form-actions
        = f.submit t(:'crop.save'), :class => 'btn btn-large btn-info'