- title "Adv/Categories"

%table
  %tr
    %th Name
    %th Permalink
    %th Description
    %th Ancestry
  - for adv_category in @adv_categories
    %tr
      %td= adv_category.name
      %td= adv_category.permalink
      %td= adv_category.description
      %td= adv_category.ancestry
      %td= link_to 'Show', adv_category

