#adv-cetegories
  #show
    .row
      .span8
        %p
          %strong Name:
          = adv_category.name
        %p
          %strong Description:
          = adv_category.description
        %p
          = link_to "Root Categories", adv_categories_path
        
        %legend Postings (#{adv_category.postings_count})
        - for posting in adv_category.postings
          = posting.title
          %hr/
    .span4

      
