%h2= t(:'admin.locations.headers.title')

= link_to new_admin_location_path do
  %i.icon-plus-sign
  Add location

%hr/
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %th= t(:'admin.locations.headers.region')
    %th= t(:'admin.locations.headers.cities')
  %tbody
    - for region in regions
      %tr
        %td
          %b= region.id
          = region.name
        %td
          %ul
            - region.cities.each do |city|
              %li
                = city.name
%hr/
= link_to new_admin_location_path do
  %i.icon-plus-sign
  Add location