%p.notice= t(:'admin.locations.tips.main_tip')
%p= link_to '+ Add Location', new_admin_location_path
%table
  %thead
    %th= t(:'admin.locations.headers.region')
    %th= t(:'admin.locations.headers.cities')
  - for region in regions
    %tr
      %td
        %b= region.id
        = region.name
      %td
        %ul
          - region.cities.each do |city|
            %li
              = city.name
%hr/
