%p
  Приветствуем Вас, #{@user.email}!
%p
  Спешим сообщить, что в связи с плановыми изменениями системы регистрации и авторизациии на портале,
  Ваш пароль был автоматически изменен.
%p
  %b Ваши данные для входа:
%p
  Электронная почта:
  %b #{@user.email}
  %br/
  Новый пароль:
  %b #{@password}
%p
  После входа на портал Вы сможете поменять пароль на более удобный в личном кабинете.
%p
  Если у Вас возникнут затруднения или Вы заметите ошибку в процессе работы на портале, напишите нам, пожалуйста, по адресу
  #{link_to 'info@kursor.org.ua', 'mailto:info@kursor.org.ua'}. Это позволит нам быстро отреагировать на проблему и исправить ее как можно скорее.
%p
  Благодарим за сотрудничество,
  %br/
  технический отдел портала #{link_to '&laquo;КУРСОР&raquo;'.html_safe, 'http://kursor.org.ua'}