%h2= t(:'admin.wiki_pages.title')

= link_to new_admin_wiki_path do
  %i.icon-plus-sign
  Add wiki page

%hr/

- roots_wiki_pages.each do |root|

  %h4= link_to root.title, edit_admin_wiki_path(root)
  %ul
  - root.children.each do |children|
    %li
      = link_to children.title, edit_admin_wiki_path(children)
  %br/
%hr/
= link_to new_admin_wiki_path do
  %i.icon-plus-sign
  Add wiki page
