.row
  .span8
    %legend=t(:'search.title')
    -#Поиск временно не работает.
    %form{ :class=>"form-inline", :action => '/search', :method => :get }
      = text_field_tag 'q', params[:q], :class => 'span6', :placeholder => t(:'search.placeholder')
      = submit_tag t(:'search.submit'), :class => 'btn'
    - unless params[:q].blank?
      - if search_results.size > 0

        %p
          = t :'search.results_found', :num => search_results.total_entries
        - search_results.each do |result_item|
          %p
            - if result_item.is_a? Provider
              %span.label Учебное заведение
            - elsif result_item.is_a? Tutor
              %span.label Преподаватель
            - elsif result_item.is_a? Posting
              %span.label.label-info Статья
            = link_to result_item, result_item

            -#- if authenticated? && current_user.administrator? && (result_item.is_a? Provider)
              = link_to edit_admin_user_transfer_path(result_item.user(result_item)) do
                -#= t(:'search.transfer_user').html_safe
                %i.icon-user
                %i.icon-arrow-right
                %i.icon-user
      - else
        .alert.alert-info
          = t :'search.nothing_found_html'
    -#- else
      .alert.alert-danger
        = t :'search.search_query_cannot_be_blank'

  .span4
    = render :partial => 'shared/advertising/kursor_ads'
