.row
  .span8
    %legend= t(:'devise.login.title')
    = form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'} do |f|
      .control-group
        = f.label :email, :class => 'control-label'
        .controls
          = f.email_field :email
      .control-group
        = f.label :password, :class => 'control-label'
        .controls
          = f.password_field :password
      - if devise_mapping.rememberable?
        .control-group
          .controls
            = f.label :remember_me, :class => 'checkbox' do
              = f.check_box :remember_me
              = t(:'devise.login.remember')

      .form-actions= f.submit t(:'devise.login.submit'), :class => 'btn btn-large'
  .span4
    %legend= t(:'devise.links.sign_in_with')

    %p Вы можете войти с помощью данных сервисов, если они подключены к Вашему профилю.

    = authenticate_with_button :vkontakte, 'vkontakte_64.png', '64x64'
    = authenticate_with_button :facebook, 'facebook_64.png', '64x64'
    = authenticate_with_button :twitter, 'twitter_64.png', '64x64'
    = authenticate_with_button :google_oauth2, 'google_64.png', '64x64'

    %legend= t(:'devise.tools.title')
    = render "users/shared/links"
