%h2= t(:'admin.news.title')

= link_to new_admin_news_path do
  %i.icon-plus-sign
  Add news

%hr/
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %th{:width => 100} Date
    %th Title
    %th{:width => 130} Actions
  %tbody
    - for news in @news
      %tr
        %td= l news.created_at, :format => :short
        %td= link_to news.title, admin_news_path(news)
        %td
          = link_to 'Edit', edit_admin_news_path(news), :class => 'link-icon icon-edit'
          = link_to 'Delete', admin_news_path(news), :method => :delete, :confirm => 'Are you sure?', :class => 'link-icon icon-delete'
%hr/
= link_to new_admin_news_path do
  %i.icon-plus-sign
  Add news
