%h2 Admin panel
%hr/
.row
  .span3
    %legend Statistics
    %table.table.table-bordered.table-striped.table-condensed
      %tbody
        %tr
          %td
            Administrators
          %td
            = @admin_users
        %tr
          %td
            Providers
            approved
          %td
            = providers_approved
        %tr
          %td
            Providers
            waiting
          %td
            %span.label.label-important
              = providers_waiting
        %tr
          %td
            = link_to 'Locations', admin_cities_path
          %td
            = @cities
        %tr
          %td
            = link_to 'Categories', admin_categories_path
          %td
            = @categories
        %tr
          %td
            = link_to 'News', admin_news_index_path
          %td
            = @news
        %tr
          %td
            = link_to 'Postings', admin_postings_path
          %td
            = @posts
        %tr
          %td
            Tags
          %td
            = @tags

  .span3
    %legend What is today?
    %table.table.table-bordered.table-striped.table-condensed
      %tbody
        %tr
          %td
            Providers
            registered
          %td
            %span.label.label-success
              = today_registered_providers
        %tr
          %td
            = link_to 'News', admin_news_index_path
            created
          %td
            = today_news_created
        %tr
          %td
            = link_to 'Postings', admin_postings_path
            created
          %td
            = today_postings_created

  .span3
    %legend Export emails database
    = link_to export_admin_providers_path(:format => :csv), :class => 'btn' do
      %i.icon-download-alt
      Download CSV file
  .span3
