%h2 Admin panel
%hr/
.row
  .span5
    %p.lead Last registered users
    %table.table.table-condensed.table-striped.table-bordered
      - for user in @users
        %tr
          %td
            - unless user.confirmed?
              = link_to user.email, user_path(user), :style => 'color:red;', :target => '_blank'
              = link_to admin_user_path(user), :method => :delete, :confirm => 'Ай-яй-яй! Ты хочешь удалить этого мерзкого, жестокого, неактивированного юзера?! :)', :style => 'float:right;' do
                %i.icon-remove
            - else
              = link_to user.email, user_path(user), :target => '_blank'

            %span.muted.small= time_ago_in_words user.created_at
            - if user.visitor?
              %span.label{ :style => 'float:right;' } U
            - if user.tutor?
              %span.label.label-warning{ :style => 'float:right;' } T
            - if user.school?
              %span.label.label-info{ :style => 'float:right;' } P
  .span4
    %p.lead Statistics
    %table.table.table-bordered.table-striped.table-condensed
      %tbody
        %tr
          %td Administrators
          %td= @admin_users
        %tr
          %td
            = link_to 'Providers', admin_users_path
            approved
          %td= providers_approved
        %tr
          %td
            = link_to 'Providers', admin_users_path
            waiting
          %td
            %span.badge.badge-important= providers_waiting
        %tr
          %td= link_to 'Locations', admin_cities_path
          %td= @cities
        %tr
          %td= link_to 'Categories', admin_categories_path
          %td= @categories
        %tr
          %td= link_to 'News', admin_news_index_path
          %td= @news
        %tr
          %td= link_to 'Postings', admin_postings_path
          %td= @posts
        %tr
          %td Tags
          %td= @tags
        %tr
          %td= link_to 'Filials', admin_filials_path
          %td= Filial.all.size

  .span3
    %p.lead What is today?
    %table.table.table-bordered.table-striped.table-condensed
      %tbody
        %tr
          %td
            = link_to 'Providers', admin_users_path
            registered
          %td
            %span.badge.badge-success
              = today_registered_providers
        %tr
          %td
            = link_to 'Tutors', admin_users_path
            registered
          %td
            %span.badge.badge-success
              = today_registered_tutors
        %tr
          %td
            = link_to 'News', admin_news_index_path
            created
          %td= today_news_created
        %tr
          %td
            = link_to 'Postings', admin_postings_path
            created
          %td= today_postings_created

    %p.lead Export emails database
    %p
      = link_to export_admin_providers_path(:format => :csv), :class => 'btn' do
        %i.icon-download-alt
        Download providers CSV file
    %p
      = link_to export_admin_tutors_path(:format => :csv), :class => 'btn' do
        %i.icon-download-alt
        Download tutors CSV file
