-#%h2 Admin panel
-#%hr/
.row
  .span5
    %p.lead= t(:'admin.dashboard.last_registered_users')
    = render :partial => 'admin/dashboard/blocks/last_registered'
  .span7
    %p.lead= t(:'admin.dashboard.delayed_publication')
    = render :partial => 'admin/dashboard/blocks/not_published_postings'
    .row
      .span4
        %p.lead
          = t(:'admin.dashboard.who_is_online')
          %span.small.muted= t(:'admin.dashboard.period')
        = render :partial => 'admin/dashboard/blocks/online'
        %p.lead= t(:'admin.dashboard.statistics')
        = render :partial => 'admin/dashboard/blocks/statistics'
      .span3
        %p.lead= t(:'admin.dashboard.what_is_today')
        = render :partial => 'admin/dashboard/blocks/today'
        %p.lead= t(:'admin.dashboard.export_emails')
        %p
          = link_to export_admin_providers_path(:format => :csv), :class => 'btn btn-block' do
            %i.icon-download-alt
            Download providers CSV file
        %p
          = link_to export_admin_tutors_path(:format => :csv), :class => 'btn btn-block' do
            %i.icon-download-alt
            Download tutors CSV file
