= form_for info_page, :url => ( info_page.new_record? ? admin_info_index_path : admin_info_path(info_page) ) do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => info_page }
  .field
    = f.label :title
  .field
    = f.text_field :title, :class => 'span9'
  .field
    = f.label :body
  .field
    = f.cktext_area :body
  .field
    = f.label :permalink
  .field
    = f.text_field :permalink
  .field
    = f.label :parent_id
  .field
    = f.select :parent_id, Info.roots.collect{|c| [c.title, c.id]}, {  :prompt => '== root ==', :include_blank => true }
  .form-actions
    = f.submit 'Save', :class => 'btn btn-success btn-large'
