%h2= t(:'admin.info_pages.title')
%p= link_to 'Add info page', new_admin_info_path, :class => 'link-icon icon-add'
%hr/
%table
  %thead
    %th Title
    %th{:width=> '60'} Actions
  - info_pages.each do |info_page|
    %tr
      %td= link_to info_page.title, admin_info_path(info_page)
      %td= link_to 'Delete', admin_info_path(info_page), :method => :delete, :confirm => 'Are you sure?', :class => 'link-icon icon-delete'
%hr/
%p= link_to 'Add info page', new_admin_info_path, :class => 'link-icon icon-add'
