%h2= t(:'admin.info_pages.title')

= link_to new_admin_info_path do
  %i.icon-plus-sign
  Add info page

%hr/

- roots_info_pages.each do |root|

  %h4= link_to root.title, edit_admin_info_path(root)
  %ul
  - root.children.each do |children|
    %li
      = link_to children.title, edit_admin_info_path(children)
  %br/
%hr/
= link_to new_admin_info_path do
  %i.icon-plus-sign
  Add info page
