.statistics
  %table.table.table-condensed
    %tr
      %td
        %b= t(:'users.cabinet.statistics.account_type')
      %td &laquo;#{user.user_type}&raquo;
    %tr
      %td
        %b #{t(:'users.cabinet.statistics.registered_at')}:
      %td
        = l user.created_at, :format => "%d %B %Y"
        %br/
        ( #{time_ago_in_words user.created_at} #{t(:'most_common_labels.time_ago')} )
    %tr
      %td
        %b #{t(:'users.cabinet.statistics.last_sign_in_at')}:
      %td
        - unless user.last_sign_in_at.blank?
          = l user.last_sign_in_at, :format => "%d %B %Y"
          %br/
          #{t(:'users.cabinet.statistics.last_sign_in_ip')}
          = link_to 'http://speed-tester.info/ip_location.php?ip=' + user.last_sign_in_ip, :target => '_blank' do
            #{user.last_sign_in_ip}
            %i.icon-share
          %br/
          ( #{time_ago_in_words user.last_sign_in_at} #{t(:'most_common_labels.time_ago')} )
        - else
          never
    %tr
      %td
        %b #{t(:'users.cabinet.statistics.sign_in_count')}:
      %td= user.sign_in_count
    %tr
      %td
        %b #{t(:'users.cabinet.statistics.failed_attempts')}:
      %td= user.failed_attempts
    %tr
      %td
        %b #{t(:'users.cabinet.statistics.current_sign_in_ip')}:
      %td
        - unless user.current_sign_in_ip.blank?
          = link_to 'http://speed-tester.info/ip_location.php?ip=' + user.current_sign_in_ip, :target => '_blank' do
            = user.current_sign_in_ip
            %i.icon-share
