.row
  .span8
    %ul.breadcrumb
      %li
        = link_to adv_categories_path do
          %i.icon-home
      = breadcrumbs_for_adv_category posting.category
      %li.active
        %span.divider /
        = link_to adv_categories_path do
          = posting.title
    %p
      %strong Title:
      = posting.title
    %p
      %strong Adv Category:
      = posting.category
    %p
      %strong Posting Type:
      = posting.type
    %p
      %strong Owner Type:
      = posting.owner
    %p
      = posting.body.html_safe
    %p
      %strong Location:
      = posting.location_id
    %p
      %strong Contact Person:
      = posting.contact_person
    %p
      %strong Price:
      = posting.price
    %p
      %strong Publisher:
      = link_to posting.user, posting.user
    %p
      %strong Published:
      - if posting.published_at
        = time_ago_in_words posting.published_at
      - else
        Not published
    - if (authenticated? && posting.user == current_user) || authorized?
      .btn-group
        = link_to posting do
          %i.icon-pencil
          Edit
        = link_to posting, :confirm => 'Are you sure?', :method => :delete do
          %i.icon-trash
          Delete
    - if authorized?
      = link_to publish_adv_posting_path(posting), :confirm => 'You are going to publish this post.', :method => :delete, :class => 'btn btn-success' do
        %i.icon-magic
        Approve
  .span4