.row
  .span12
    %fieldset
      %legend= t(:'tutors.edit.legend')
      .control-group
        = f.label t(:'tutors.edit.name'), :class => 'control-label'
        .controls
          = f.text_field :name, :class => 'span8'
.row
  .span5
    %fieldset
    .control-group
      = f.label t(:'tutors.edit.photo'), :class => 'control-label'
      .controls
        = image_tag tutor.avatar_url(:medium)
  .span6
    %fieldset
      .control-group
        = f.file_field :avatar
        = f.hidden_field :avatar_cache
      - if tutor.avatar_url.present?
        .control-group
          %label.checkbox
            = f.check_box :remove_avatar
            = t(:'tutors.edit.delete_photo')
.row
  .span6
    %fieldset
      %legend= t(:'tutors.edit.custom_fields_title')
      = f.fields_for :tutor_custom_field_bindings do |b|
        = render :partial => 'tutor_custom_field_bindings/tutor_custom_field_binding_fields', :locals => { :f => b }
      .fields= link_to_add_fields t(:'providers.custom_fields.add').html_safe, f, :tutor_custom_field_bindings
  .span6
    %fieldset
      %legend= t(:'tutors.edit.special_options')
      .control-group
        %label.control-label
          %a{:rel=>'tooltip',:href => '#','data-original-title' => t(:'tutors.edit.is_nat_sp_help')}
            %i.icon-info-sign
        .controls
          %label.checkbox
            = f.check_box :is_native_speaker
            = t(:'tutors.edit.is_native_speaker')


%br
.row
  .span6
    %fieldset
      %legend= t(:'admin.users.legends.address')
      = f.fields_for :location do |l|
        = render :partial => 'addresses/location_fields', :locals => { :f => l }
  .span6
    %fieldset
      %legend= t(:'admin.users.legends.contacts')
      = f.fields_for :contacts do |c|
        = render :partial => 'contacts/contact_fields', :locals => { :f => c }
      .fields= link_to_add_fields t(:'tutors.edit.add_contact').html_safe, f, :contacts
%br
%legend= t(:'providers.edit.description')
.row
  .span12
    %fieldset
      .control-group
        = f.label t(:'tutors.show.description'), :class => 'control-label'
        .controls
          = f.cktext_area :description, :class => 'span8', :toolbar => 'Basic'
.row
  .span12
    %fieldset
      .control-group
        = f.label t(:'tutors.show.methodology'), :class => 'control-label'
        .controls
          = f.cktext_area :methodology, :class => 'span8', :toolbar => 'Basic'
.row
  .span12
    %fieldset
      .control-group
        = f.label t(:'tutors.show.more_info'), :class => 'control-label'
        .controls
          = f.cktext_area :more_info, :class => 'span8', :toolbar => 'Basic'
%hr/
.row
  .span12
    %fieldset
      %legend= t(:'admin.users.legends.categories')
      = render :partial => 'tutors/category_fields', :locals => { :f => f, :tutor => tutor }