- if current_user
  - if ( tutor.user === current_user ) || current_user.administrator?
    = link_to edit_tutor_path(tutor) do
      %p
        %i.icon.icon-pencil
        = t(:'tutors.show.edit')

    - if current_user.tutor
      - if !current_user.tutor.is_approved?
        .alert.alert-info.alert-block
          %h4.alert-heading= t(:'providers.edit.not_approved.title')
          %p= t(:'providers.edit.not_approved.desc').html_safe

%ul.breadcrumb
  %li= link_to( tutor.tutor_category, tutor_category_path(tutor.tutor_category) ) if tutor.tutor_category
  %span.divider
    \/
  %li= link_to tutor

.row
  .span8
    .row
      .span8
        %table.bookmarks
          %tr
            = render :partial => 'shared/bookmarks'
    .row
      .span3{ :style => 'width: 190px;'}
        - if tutor.avatar_url
          = image_tag tutor.avatar_url(:medium).to_s
      .span5

        %h1= tutor.name

        .update-info
          %strong
            Последнее изменение:
          = time_ago_in_words(tutor.updated_at)
          назад

    %br/
    %table.table.table-striped.table-condensed
      - if tutor.tutor_custom_fields.size > 0
        - for f in tutor.tutor_custom_field_bindings.sort_by{|i| i.position} do
          %tr
            %td
              %span
                %b= f.name
            %td
              = f.value

    %ul#ProviderTabs.nav.nav-tabs
      %li.active
        %a( href = "#description" data-toggle = "tab" )
          = t(:'tutors.show.description')
      - if !tutor.methodology.blank?
        %li
          %a( href = "#methodology" data-toggle = "tab" )
            = t(:'tutors.show.methodology')
      - if !tutor.more_info.blank?
        %li
          %a( href = "#more_info" data-toggle = "tab" )
            = t(:'tutors.show.more_info')

    #myTabContent.tab-content
      #description.tab-pane.fade.active.in
        - if !tutor.description.blank?
          .description= tutor.description
        - else
          %p= t(:'providers.visit_website_for_more_info')
      #methodology.tab-pane.fade
        - if !tutor.methodology.blank?
          .more-info= tutor.methodology
      #more_info.tab-pane.fade
        - if !tutor.more_info.blank?
          .documents-info= tutor.more_info


    - if current_user
      - if current_user.administrator?
        %hr/
        = link_to admin_user_path(tutor.user), :method => :delete, :confirm => t(:'admin.users.confirms.user_destroy') do
          %i.icon.icon-remove
          = t(:'site.actions.destroy_user')
  .span4
    .categories
      - if tutor.tutor_categorizings.size > 0
        %h2.block-title= t(:'providers.categories')
        %ul
          - for tutor_categorizing in tutor.tutor_categorizings do
            %li= link_to tutor_categorizing, tutor_category_path(tutor_categorizing.tutor_category.permalink)


    %h2.block-title=t(:'providers.contacts')
    - if tutor.location
      -#%b= t(:'providers.custom_fields.address')
      %p
        %i.icon-home
        = address_value tutor.location
    - for contact in tutor.contacts.by_type do
      %p
        - unless contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|livejournal|blogger|google|youtube|vimeo/
          %span{ :class => "span-icon icon-#{contact.contact_type}" }
          = contact_value contact
    %hr/
    %p
      - for contact in tutor.contacts.by_type
        - if contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|livejournal|blogger|google|youtube|vimeo/
          = social_icon contact
