%li.clearfix.list-provider
  .image-container
    = link_to tutor_path(tutor) do
      = image_tag 'no-image.png', :width => '', :height => '', :style => 'width: 100px;', "data-original" => tutor.avatar_url(:medium), :class => 'rounded_2'
  %h4= link_to tutor.name, tutor_path(tutor)
  - if tutor.location
    .address
      %strong
        = "#{t(:'providers.custom_fields.address')}:"
      = format_location tutor.location
  .categories
    - if tutor
      %ul
        - for cat in tutor.tutor_categories
          %li= link_to cat, tutor_category_path(cat)