- set_meta_tags :title => t(:'seo.meta.tutors.title'), :description => t(:'seo.meta.tutors.description'), :keywords => t(:'seo.meta.tutors.keywords')
#categories
  #show
    .row
      .span8
        %legend Выберите нужную категорию
        .row
          - root_tutor_categories.each_with_index do |category, index|
            - if ((index % 2) == 0) && index > 0
              .clear
            .span4
              .row.category_item
                .span1.category_icon
                  = link_to category do
                    = image_tag category.icon_url(:standart), :title => category, :class => 'rounded_2'
                .span3.list
                  %h3= link_to category, category
                  %ul
                    - for sub_category in category.top_tutor_subcategories do
                      %li
                        = link_to sub_category do
                          = "#{sub_category} (#{sub_category.tutors_count})"

        %hr/
        #meta-additional
          = t(:'seo.meta.tutors.additional_text').html_safe

      .span4
        = render :partial => 'shared/advertising/kursor_ads'
        %hr/
        = render :partial => 'shared/widgets/widgets'