= form_for transfer_user, :url => admin_user_transfer_path(transfer_user), :html => { :class => 'form-horizontal' }  do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => transfer_user }
  %fieldset

    %legend= t(:'admin.transfering_users.title')

    .control-group
      = f.label :email, :class => 'control-label'
      .controls
        = f.text_field :email, :class => 'input-xlarge'

    .control-group
      = f.label t(:'admin.transfering_users.password'), :class => 'control-label'
      .controls
        = f.password_field :password, :class => 'input-xlarge'
        %input{ :name => 'current_user', :value => "#{current_user.email.split('@')[0]}", :type => :hidden }
        = button_tag t(:'admin.transfering_users.random_password'), :type => :button, :class => 'btn btn-success random-password'

    .control-group
      = f.label t(:'admin.transfering_users.password_confirm'), :class => 'control-label'
      .controls
        = f.password_field :password_confirmation, :class => 'input-xlarge'

    .control-group
      %label.control-label
        = t(:'admin.transfering_users.send_mail')
      .controls
        = check_box_tag 'send_email', 'yes', true

    .control-group
      %label.control-label
        = t(:'admin.transfering_users.additional_message')
      .controls
        = text_area_tag 'additional_message', nil, :class => 'span6', :id => 'additional_message'
        = link_to '#', :id => 'clear_text_button', :class => 'btn btn-mini', :title => t(:'admin.transfering_users.clear_add_msg') do
          %i.icon-fire
  .form-actions
    = f.submit t(:'admin.transfering_users.submit'), :class => 'btn btn-large btn-primary'
