%table.table.table-bordered.table-striped.table-condensed
  %tbody
    %tr
      %td Administrators
      %td= @admin_users
    %tr
      %td
        = link_to 'Providers', admin_users_path
        approved
      %td= providers_approved
    %tr
      %td
        = link_to 'Providers', admin_users_path
        waiting
      %td
        %span.badge.badge-important= providers_waiting
    %tr
      %td= link_to 'Locations', admin_cities_path
      %td= @cities
    %tr
      %td= link_to 'Categories', admin_categories_path
      %td= @categories
    %tr
      %td= link_to 'News', admin_news_index_path
      %td= @news
    %tr
      %td= link_to 'Postings', admin_postings_path
      %td= @posts
    %tr
      %td Tags
      %td= @tags
    %tr
      %td= link_to 'Filials', admin_filials_path
      %td= Filial.all.size