.row
  .span8
<<<<<<< HEAD
=======
    %legend= t(:'devise.resend_unlock_instructions.title')
>>>>>>> 83353705fb4d04cd4db75f1a0007d8db17a2ba4d
    = form_for resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form-horizontal'  } do |f|
      = devise_error_messages!
      .control-group
        = f.label :email, :class => 'control-label'
        .controls
          = f.email_field :email
      .form-actions= f.submit t(:'devise.resend_unlock_instructions.submit'), :class => 'btn btn-large'
  .span4
    %legend= t(:'devise.tools.title')
    = render "users/shared/links"
