= form_for(user) do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => user }
  .field
    = f.label :email
  .field
    = f.text_field :email
  .field
    = f.label :password
  .field
    = f.password_field :password
  .field
    = f.label :password_confirmation
  .field
    = f.password_field :password_confirmation
  -#= fields_for :provider do |p|
    -#= render :partial => 'providers/provider_fields', :locals => { :f => p }
  .actions
    = f.submit
