= form_for(@user) do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => @user }
  .field
    = f.label :email
  .field
    = f.text_field :email
  .field
    = f.label :password
  .field
    = f.text_field :password
  .field
    = f.label :password_confirmation
  .field
    = f.text_field :password_confirmation
  .actions
    = f.submit
