= form_for user, :multipart => true, :html => { :class => 'form-horizontal' } do |f|
  .row
    .span12
      = render :partial => 'shared/form_errors', :locals => { :object => user }
      %fieldset
        - unless user.new_record?
          %legend= t(:'visitor.edit_profile.email_pass')
        - else
          %legend= t(:'users.new.email_pass')
        .control-group
          = f.label :email, :class => 'control-label'
          .controls
            = f.text_field :email, :class => 'span4'
            - if user.new_record?
              %p.help-block
                = t(:'users.new.email_must_be_real')
        .control-group
          = f.label t(:'users.new.pass'), :class => 'control-label'
          .controls
            = f.password_field :password, :class => 'span4'
            %p.help-block
            - if user.new_record?
              = t(:'users.new.password_requirements')
            - else
              = t(:'visitor.edit_profile.no_pass').html_safe
        .control-group
          = f.label t(:'users.new.pass_confirm'), :class => 'control-label'
          .controls
            = f.password_field :password_confirmation, :class => 'span4'
        -#- if user.provider
          -#= fields_for :provider do |p|
            -#= render :partial => 'providers/provider_fields', :locals => { :f => p }
        - if user.new_record?
          %legend= t(:'users.new.account_type')
          .control-group
            =# f.label :account_type
            .controls
              - User::ACCOUNT_TYPES.each do |account_type|
                %label.radio
                  = f.radio_button :account_type_id, User::ACCOUNT_TYPES.index(account_type)
                  = t("activerecord.attributes.user.account_types.#{account_type}")


  - if user.visitor?
    = f.fields_for :profile do |p|
      = render :partial => '/profile/profile_fields', :locals => { :f => p, :profile => user.profile }
  - else
    = f.fields_for :provider do |p|
      = render :partial => '/providers/provider_fields', :locals => { :f => p, :provider => user.provider }
  .form-actions
    = f.submit t(:'users.new.submit'), :class => 'btn btn-primary btn-large'
