.row
  .span8
    - if authenticated?
      - if user === current_user
        %i.icon-user
        = user.email
        = link_to edit_profile_url do
          - unless user.visitor?
            %i.icon-envelope
            = t(:'users.panel.edit_email_password')
          - else
            %i.icon-pencil
            = t(:'users.panel.edit_my_profile')
        - if user.school?
          &nbsp;&nbsp;&nbsp;
          %i.icon-pencil
          = link_to t(:'users.panel.edit_my_profile'), edit_provider_path(user.provider)
        - if user.tutor?
          &nbsp;&nbsp;&nbsp;
          %i.icon-pencil
          = link_to t(:'users.panel.edit_my_profile'), edit_tutor_path(user.tutor)
      - else
        - if user.visitor? && user.profile
          - if user.profile.full_name && !user.profile.full_name.blank?
            = user.profile.full_name
          - else
            = user.email.split(/@/)[0]
        - elsif user.tutor? || user.school?
          - if user.provider
            = user.provider.name
          - else
            = user.email.split(/@/)[0]
        - else
          = user.email.split(/@/)[0]
    %hr/
- if authenticated?
  - if user.tutor?
    - unless user.tutor
      - if user == current_user
        .alert.alert-block
          %h4.alert-heading= t(:'providers.edit.no_provider')
          %p= t(:'providers.edit.no_provider_desc')
          %p
            = link_to new_tutor_path, :class => 'btn btn-success' do
              %i.icon-white.icon-list-alt
              = t(:'providers.edit.add_provider')
    - else
      = link_to user.tutor.name, tutor_path(user.tutor)

  - elsif user.school?
    - unless user.provider
      - if user == current_user
        .alert.alert-block
          %h4.alert-heading= t(:'providers.edit.no_provider')
          %p= t(:'providers.edit.no_provider_desc')
          %p
            = link_to new_provider_path, :class => 'btn btn-success' do
              %i.icon-white.icon-list-alt
              = t(:'providers.edit.add_provider')
    - else
      = link_to user.provider.name, provider_path(user.provider)

  - elsif user.visitor?
    - if user.profile
      = render :partial => '/profile/profile', :locals => { :profile => user.profile }
- else
  = t(:'users.must_be_authenticated')