%h1= user
= user.is_active? ? t(:'users.active') : t(:'users.pending')
%hr/
- if user === current_user
  - unless user.visitor?
    - unless user.provider
      = link_to 'Add provider', new_provider_path
    - else
      = link_to user.provider, user.provider
  - else
    = render :partial => '/profile/profile', :locals => { :profile => user.profile }
  %hr/
  = link_to 'Edit', edit_profile_url
