.row
  .span8
    - if authenticated?
      %i.icon-user
      = user.email
      &nbsp;&nbsp;&nbsp;
      - if user === current_user
        = link_to edit_profile_url do
          - unless user.visitor?
            %i.icon-envelope
            = t(:'users.panel.edit_email_password')
          - else
            %i.icon-pencil
            = t(:'users.panel.edit_my_profile')
        - if user.school?
          &nbsp;&nbsp;&nbsp;
          %i.icon-pencil
          = link_to t(:'users.panel.edit_my_profile'), edit_provider_path(user.provider)
        - if user.tutor?
          &nbsp;&nbsp;&nbsp;
          %i.icon-pencil
          = link_to t(:'users.panel.edit_my_profile'), edit_tutor_path(user.tutor)
    %hr/
- if authenticated?
  - if user.tutor?
    - unless user.tutor
      - if user == current_user
        .alert.alert-block
          %h4.alert-heading= t(:'providers.edit.no_provider')
          %p= t(:'providers.edit.no_provider_desc')
          %p
            = link_to new_tutor_path, :class => 'btn btn-success' do
              %i.icon-white.icon-list-alt
              = t(:'providers.edit.add_provider')
    - else
      = render :partial => '/tutors/profile', :locals => { :tutor => user.tutor }

  - elsif user.school?
    - unless user.provider
      - if user == current_user
        .alert.alert-block
          %h4.alert-heading= t(:'providers.edit.no_provider')
          %p= t(:'providers.edit.no_provider_desc')
          %p
            = link_to new_provider_path, :class => 'btn btn-success' do
              %i.icon-white.icon-list-alt
              = t(:'providers.edit.add_provider')
    - else
      = link_to user.provider.name, provider_path(user.provider)

  - elsif user.visitor?
    - if user.profile
      = render :partial => '/profile/profile', :locals => { :profile => user.profile }
- else
  = t(:'users.must_be_authenticated')