%h1= user.email
= user.is_active? ? t(:'users.active') : t(:'users.pending')
%hr/
- unless user.provider
  = link_to 'Add provider', new_provider_path
- else
  = link_to user.provider, user.provider
- if user === current_user
  %hr/
  = link_to 'Edit', edit_profile_url
