.row
  .span10
    %h1
      = user
      - if user === current_user
        = link_to 'Edit', edit_profile_url
    - unless user.is_active?
      = t(:'users.pending')
    %hr/
- if user === current_user
  - unless user.visitor?
    - unless user.provider
      = link_to 'Add provider', new_provider_path
    - else
      = link_to user.provider, user.provider
  - else
    - if user.profile
      = render :partial => '/profile/profile', :locals => { :profile => user.profile }
