= form_for posting, :html => {:class => 'form-horizontal'} do |f|

  = render :partial => 'posting_fields', :locals => { :f => f }

  .form-actions
    = submit_tag t(:'postings.actions.save'), :class => 'btn btn-large btn-success'
    = t(:'postings.actions.or')
    = link_to t(:'postings.actions.cancel'), user_postings_path(current_user), :class => 'btn btn-danger'

