.row
  .span12
    = render :partial => 'shared/form_errors', :locals => { :object => posting }
    - if authorized?
      %fieldset
        .control-group
          = f.label t(:'postings.titles.type'), :class => 'control-label'
          .controls
            %label.radio
              = f.radio_button :posting_type_id, Posting::POSTING_TYPES.index('text')
              = t("activerecord.attributes.posting.posting_types.posting").html_safe
            %label.radio
              = f.radio_button :posting_type_id, Posting::POSTING_TYPES.index('video'), :id => 'video_posting_type'
              = t("activerecord.attributes.posting.posting_types.video").html_safe
    %fieldset
      .control-group
        = f.label t(:'postings.titles.title'), :class => 'control-label'
        .controls
          = f.text_field :title, :class => 'span10'
    %fieldset
      .control-group
        = f.label t(:'postings.titles.excerpt'), :class => 'control-label'
        .controls
          = f.text_area :excerpt, :class => 'span10'
    %fieldset
      .control-group
        = f.label t(:'postings.titles.body'), :class => 'control-label'
        .controls
          = f.cktext_area :body
          %p.help-block= t(:'postings.titles.body_help')

    = f.fields_for :images do |image|
      = render :partial => 'images/image_fields', :locals => { :f => image }
    %fieldset
      %legend= t(:'tags.title')
      .control-group
        = f.label t(:'tags.tag_list'), :class => 'control-label'
        .controls
          = f.text_field :tags_list, :value => posting.tags_list.map(&:name).join(', '), :class => 'span9'
          %p.help-block= t(:'tags.tag_list_help')
    - if authorized?
      %fieldset
        %legend= t(:'postings.categories')
        .control-group
          .controls
            = render :partial => '/postings/posting_category_fields', :locals => { :f => f, :posting => posting }
            %p.help-block= t(:'postings.categories_help_html')
