.posting
  %hr/
  .row
    .span3
      - if posting.images.last.present?
        .image
          = link_to posting, :class => 'thumbnail' do
            = image_tag posting.images.last.src_url(:medium).to_s
    .span5
      %h4= link_to posting.title, posting
      = posting.excerpt
      .read-more= link_to t(:'postings.readmore'), posting
      .user-bar
        - if posting.user.visitor?
          = link_to posting.user, profile_path(posting.user.profile)
        - if posting.user.tutor?
          = link_to posting.user.tutor.name, tutor_path(posting.user.tutor)
        |
        = l posting.created_at, :format => :long
