.row
  .span12
    %h1= t(:'postings.title')
    %ul#postings
      - for posting in postings do
        %li
          %article.posting
            - if !posting.images.empty?
              .image
                = image_tag posting.images.last.src_url(:thumb).to_s

            %h4= link_to posting.title, posting
            %p= posting.excerpt
            %span= link_to t(:'postings.readmore'), posting
            .user-bar
              = posting.user
              |
              = l posting.created_at, :format => :long
