.row
  .span8
    - if current_user === posting.user
      .actions
        = link_to edit_posting_path(posting) do
          %i.icon-pencil
          = t(:'postings.actions.edit')
        &nbsp;&nbsp;&nbsp;&nbsp;
        = link_to posting_path(posting), :method => :delete, :confirm => 'Are you sure?' do
          %i.icon-remove
          = t(:'postings.actions.delete')
      %hr/

    = t(:'postings.categories')
    - posting.posting_categories.each do |c|
      - unless c === posting.posting_categories.last
        = link_to c.name + ',' , '#'
      - else
        = link_to c.name, '#'

    %h1= posting.title

    %blockquote.excerpt= markdown posting.excerpt
    - for image in posting.images do
      .span4{:style => 'margin: 0px 15px 15px 0px'}
        = link_to image.src_url(:medium), :class => 'thumbnail' do
          = image_tag image.src_url(:medium).to_s, :alt => image.title
    .body
      = markdown posting.body
    .tags-list= links_to_tags posting.tags_list
    .user-bar
      = posting.user
      |
      = l posting.created_at, :format => :long
