- set_meta_tags :title => posting.title + ' | ' + t(:'seo.sections.postings'), :description => posting.excerpt, :keywords => ( posting.tags.each do |tag| tag.name end )
#postings
  #show
    .row
      .span8
        .posting-categories
          = t(:'postings.categories')
          - posting.posting_categories.each do |c|
            - unless c === posting.posting_categories.last
              = link_to c.name + ',' , c
            - else
              = link_to c.name, c
        %table.bookmarks
          %tr
            = render :partial => 'shared/bookmarks'

        %h1= posting.title

        .excerpt= posting.excerpt

        #myCarousel.carousel
          .carousel-inner
            - posting.images.reverse.each_with_index do |image, index|
              - if index == 0
                .active.item
                  %a( href = "#myCarousel" data-slide = "next" )
                    = image_tag 'no-image.png', :width => '620px', :height => '400px', "data-original" => image.src_url(:wide).to_s if image.src_url(:wide).to_s
                  .carousel-caption
                    %p
                      %b= image.title
                      = image.description
              - else
                .item
                  %a( href = "#myCarousel" data-slide = "next" )
                    = image_tag 'no-image.png', :width => '620px', :height => '400px', "data-original" => image.src_url(:wide).to_s if image.src_url(:wide).to_s
                  - if image.title
                    .carousel-caption
                    %p
                      %b= image.title
                      = image.description

          - if posting.images.size > 1
            %a.carousel-control.left( href = "#myCarousel" data-slide = "prev" )
              &lsaquo;
            %a.carousel-control.right( href = "#myCarousel" data-slide = "next" )
              &rsaquo;

        .body
          = posting.body.html_safe
        %hr/
        .user-bar
          = link_to posting.user, user_path(posting.user)
          |
          = l posting.created_at, :format => :long
          - if current_user === posting.user
            |
            = link_to edit_posting_path(posting) do
              %i.icon-pencil
              = t(:'postings.actions.edit')
            |
            = link_to posting_path(posting), :method => :delete, :confirm => 'Are you sure?' do
              %i.icon-remove
              = t(:'postings.actions.delete')
        .tags-list
          %span.icon-tags
          = links_to_tags posting.tags_list
    .row
      .span8
        %legend= t(:'postings.comments.title') + ' (' + posting.comment_threads.size.to_s + ')'

        - if posting.comment_threads.size > 0
          = render 'comments/comments', :commentable => posting
        - else
          = t(:'postings.comments.no_comments')
        - if authenticated?
          = form_for [ posting, Comment.build_from( posting, nil, '') ], :html => {:class => 'form-horizontal'} do |f|
            %fieldset
              %legend= t(:'postings.comments.leave_comment')
              .control-group
                %label.control-label
                  - unless !current_user.visitor?
                    - unless current_user.profile.nil?
                      = image_tag current_user.profile.avatar_url(:thumb).to_s
                  - unless !current_user.tutor?
                    - unless current_user.tutor.nil?
                      = image_tag current_user.tutor.avatar_url(:thumb).to_s
                  - unless !current_user.school?
                    - unless current_user.provider.nil?
                      = image_tag current_user.provider.logo_url(:thumb).to_s
                .controls
                  = f.text_area :body, :class => 'span5'
                  -#= f.text_field :parent_id, :class => 'span1'
            .form-actions
              = f.submit t(:'postings.comments.submit'), :class => 'btn btn-large btn-success'
        - else
          .alert.alert-danger
            %p
              %b= t(:'postings.comments.only_for_registered')
            %p= t(:'postings.comments.please_register_or_login').html_safe
