.row
  .span8
    - if current_user === posting.user
      .actions
        = link_to 'Edit', edit_posting_path(posting)
        = link_to 'Delete', posting_path(posting), :method => :delete, :confirm => 'Are you sure?'
    %h1= posting.title
    %blockquote.excerpt= markdown posting.excerpt
    - for image in posting.images do
      .span4{:style => 'margin: 0px 15px 15px 0px'}
        = link_to image.src_url(:medium), :class => 'thumbnail' do
          = image_tag image.src_url(:medium).to_s, :alt => image.title
    .body
      = markdown posting.body
    .tags-list= links_to_tags posting.tags_list
    .user-bar
      = posting.user
      |
      = l posting.created_at, :format => :long
