.row
  .span8
    - if current_user === posting.user
      .actions
        = link_to edit_posting_path(posting) do
          %i.icon-pencil
          = t(:'postings.actions.edit')
        &nbsp;&nbsp;&nbsp;&nbsp;
        = link_to posting_path(posting), :method => :delete, :confirm => 'Are you sure?' do
          %i.icon-remove
          = t(:'postings.actions.delete')
      %hr/


    %h1= posting.title

    .posting-categories
      = t(:'postings.categories')
      - posting.posting_categories.each do |c|
        - unless c === posting.posting_categories.last
          = link_to c.name + ',' , c
        - else
          = link_to c.name, c



    %blockquote.excerpt= markdown posting.excerpt



    #myCarousel.carousel
      .carousel-inner
        - posting.images.reverse.each_with_index do |image, index|
          - if index == 0
            .active.item
              = image_tag image.src_url(:wide).to_s
              .carousel-caption
                %h4= image.title
                %p= image.description
          - else
            .item
              %a( href = "#yCarousel" data-slide = "next" )
                = image_tag image.src_url(:wide).to_s
              - if image.title
                .carousel-caption
                  %h4= image.title
                  %p= image.description

      - if posting.images.size > 1
        %a.carousel-control.left( href = "#myCarousel" data-slide = "prev" )
          &lsaquo;
        %a.carousel-control.right( href = "#myCarousel" data-slide = "next" )
          &rsaquo;

    .body
      = markdown posting.body
    .tags-list= links_to_tags posting.tags_list
    .user-bar
      = posting.user
      |
      = l posting.created_at, :format => :long
