%footer.container
  .row
    .span4
      = link_to root_url do
        = image_tag 'logo-small-white.png'
      %hr/
      %p
        %i.icon-info-sign.icon-white
        = link_to '/info/project' do
          О проекте
        &nbsp; | &nbsp;
        = link_to '/posts/248-kommercheskoe-predlozhenie-po-razmescheniyu-reklamy-na-portale-kursor-org-ua' do
          Реклама на сайте
        &nbsp; | &nbsp;
        = link_to '/info/contacts' do
          Контакты
      %p= t(:'site.footer.cooperation_html')
      %p
        %b= link_to 'info@kursor.org.ua','mailto:info@kursor.org.ua'
        %br/
        %b (044) 287-26-79
        %br/
        %b (067) 406-94-64
      = render :partial => 'shared/yandex_metrika_code' unless Rails.env.development?
    .span2

      -#%h4= t(:'site.footer.tags')

      -#var word_array = [
      -#        {text: "Lorem", weight: 15},
      -#        {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
      -#        {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
      -#        {text: "Sit", weight: 7},
      -#        {text: "Amet", weight: 5}
      -#        // ...as many words as you want
      -#    ];

      #tagCloudContainer{:style=>'width:140px;height:200px;'}
    .span3
      %h4= t(:'site.footer.sections')
      %p
        - for cat in Category.roots
          = link_to cat, category_path(cat)
          -#= '(' + cat.root_category_providers_count.to_s + ')'
          - unless cat == Category.roots.last
            |
      %h4= t(:'site.footer.tutors')
      %p
        - for tc in TutorCategory.roots
          = link_to tc, tutor_category_path(tc)
          - unless tc == TutorCategory.roots.last
            |
      %h4= t(:'site.footer.articles')
      %p
        - for pc in PostingCategory.roots
          = link_to pc, posting_category_path(pc)
          - unless pc == PostingCategory.roots.last
            |
    .span3
      %h4= t(:'site.footer.socials')
      %p.social-icons
        = link_to 'http://vk.com/kursor_org_ua', :target => '_blank' do
          = image_tag 'social-icons/32x32/vkontakte.png'
        = link_to 'http://www.facebook.com/pages/Kursororgua/300466546696921', :target => '_blank' do
          = image_tag 'social-icons/32x32/facebook.png'
        = link_to 'https://twitter.com/kursor_pasha', :target => '_blank' do
          = image_tag 'social-icons/32x32/twitter.png'
        = link_to '#', :class => "open_popup" do
          %i.icon-thumbs-up.icon-white
      -#%h4= t(:'site.footer.subscribe.title')
      -#%p= t(:'site.footer.subscribe.text_html')
      -#= text_field_tag 'subscribe', nil, :class => 'span3', :placeholder => 'Введите email и нажмите Enter', :disabled => true

      %p= t(:'site.footer.policy_html')
      %p.developer
        Разработка портала &#8212;
        = link_to 'http://brainbox.com.ua', :target => '_blank' do
          = image_tag 'brain-box.png'
          BrainBox

      = render :partial => 'shared/counters' unless Rails.env.development?
