.row
  .span5
    %h1#logo.ir
      = link_to 'КУРСОР - образовательный портал', root_url

    %form.form-search.header-search-form{ :action => '/search/redirect_to_result', :method => :get }
      .clear{:style => "font-size:10px; color: silver;"}
        Быстрый поиск учебного заведения или преподавателя
      .input-append{:style => "margin-bottom:0px; line-height:0px;"}
        = text_field_tag :q, '', :class => 'token-input'
        = button_tag :class => 'btn token-input-submit' do
          %i.icon-search
      .clear{:style => "font-size:10px; color: silver;"}
        = link_to 'Расширенный поиск', search_index_path


  .span7
    .login-bar
      = render :partial => 'shared/login_bar'
    .banner
      -#HEADER_468_60
      #div-gpt-ad-1353586145771-0{ :style=>'width:468px; height:60px;'}
      :javascript
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1353586145771-0'); });
.row
  .span12
    = render :partial => 'shared/top_nav'