.login-nav
  - if authenticated?
    = t(:'sessions.create.logged_in_as')

    .btn-group
      = link_to current_user, :class => 'btn btn-small' do
        - if authorized?
          %i.icon-heart
        = current_user.email
      %button.btn.btn-small.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        - if authorized?
          %li
            = link_to  admin_path do
              %i.icon-coffee
              = t(:'site.nav.admin-panel')
        %li
          = link_to current_user do
            %i.icon-user
            = t(:'users.cabinet.title')
        - if current_user.school? && current_user.providers.present?
          %li
            = link_to new_event_path do
              %i.icon-calendar
              = t(:'users.cabinet.provider_card.add_event')
        - elsif current_user.tutor? && current_user.tutor.present?
          %li
            = link_to [:new, current_user.tutor, :event] do
              %i.icon-calendar
              = t(:'users.cabinet.provider_card.add_event')
        %li
          = link_to edit_user_registration_path do
            %i.icon-wrench
            = t(:'users.cabinet.edit_user')

    - if current_user.profile.present?
      = image_tag current_user.profile.avatar_url(:icon), :class => 'icon img-rounded'
    -#- elsif current_user.providers.present?
      = image_tag current_user.providers.last.logo_url(:icon), :class => 'icon'
    - elsif current_user.tutor.present?
      = image_tag current_user.tutor.avatar_url(:icon), :class => 'icon'

    -#- if authorized?
      = link_to t(:'site.nav.admin-panel'), admin_path
    = link_to destroy_user_session_path, :method => :delete, :class => 'btn btn-small btn-danger logout' do
      %i.icon-off.icon-white
      = t(:'sessions.destroy.title')
  - else
    = link_to t(:'users.create.title'), new_user_registration_path, :class => "btn btn-success", :style => "vertical-align: baseline"
    &nbsp;
    %span{:style => 'color: silver; margin-right:4px;'}= t(:'sessions.create.already_signed_up')
    = link_to t(:'sessions.create.title'), new_user_session_path