%ul.login-nav
  - if authenticated?
    %li
      = t(:'sessions.create.logged_in_as')

      = link_to current_user do
        = current_user.email

      - if current_user.profile.present?
        = image_tag current_user.profile.avatar_url(:icon), :class => 'icon'
      -#- elsif current_user.providers.present?
        = image_tag current_user.providers.last.logo_url(:icon), :class => 'icon'
      - elsif current_user.tutor.present?
        = image_tag current_user.tutor.avatar_url(:icon), :class => 'icon'

    - if authorized?
      %li= link_to t(:'site.nav.admin-panel'), admin_path
    %li= link_to t(:'sessions.destroy.title'), destroy_user_session_path, :method => :delete
  - else
    %li
      = link_to t(:'users.create.title'), new_user_registration_path, :class => "btn btn-success", :style => "vertical-align: baseline"
      &nbsp;
    %li
      %span{:style => 'color: silver; margin-right:4px;'}= t(:'sessions.create.already_signed_up')
      = link_to t(:'sessions.create.title'), new_user_session_path