.breadcrumb
  = form_for :filter, :url => category, :method => :get, :html => { :class => 'form-inline' } do |f|

    = f.select 'region_id',
      options_from_collection_for_select(Address::Region.all, :id, :name, filter[:region_id]),
      :prompt => t(:'admin.users.selectors.choose_region')

    = f.select 'city_id',
      option_groups_from_collection_for_select(Address::Region.all(:order => "name"), :cities, :name, :id, :name, filter[:city_id]),
      :prompt => t(:'admin.users.selectors.choose_city'), :class => 'select-city'

    = f.submit t(:'site.sorting.sort_action'), "data-content" => "Процесс сортировки может занять до 10 секунд. Дождитесь, пожалуйста, загрузки результатов", "data-original-title" => "Внимание!", :class => 'btn btn-success', :id => 'popover'
    = t(:'site.or')
    = link_to t(:'site.filter.reset'), category
