.modal.hide.fade#register-dialog
  .modal-header
    %button.close{"data-dismiss" => "modal"} х
    %h3= t(:'users.register_modal.title_html')
  .modal-body

    .well
      %h4= t(:'users.register_modal.intro_header')
      %p= t('users.register_modal.intro_html', :search_link => t(:'users.register_modal.search_link_html') )
      %h4=t(:'users.register_modal.fill_the_form_header')
      %p= t('users.register_modal.fill_the_form_html',  :request_form_link => request_path)

  .modal-footer
    = link_to t(:'users.register_modal.go_register'), new_user_url, :class => 'btn btn-success btn-large'
    %a{ :href => "#", :class => "btn", "data-dismiss" => "modal"}= t(:'users.register_modal.cancel')