-#.topbar-wrapper
  -#.topbar
    -#.topbar-inner
%nav.clear
  .container
    %ul
      -#- root_categories.each do |item|
      -#  %li
      -#    = link_to item.name, item

      %li= link_to t(:'site.nav.pre-schools'), root_url + 'provider_categories/doshkolnoe-obrazovanie'
      %li= link_to t(:'site.nav.schools'), root_url + 'provider_categories/schools'
      %li= link_to t(:'site.nav.technical'), root_url + 'provider_categories/prof-tech-obrazovanie'
      %li= link_to t(:'site.nav.high-schools'), root_url + 'provider_categories/high-schools'
      %li= link_to t(:'site.nav.courses'), root_url + 'provider_categories/kursy'
      %li= link_to t(:'site.nav.tutors'), root_url + 'provider_categories/teachers'
      %li= link_to t(:'site.nav.trainings'), root_url + 'provider_categories/treninhy-i-semynary'
      %li= link_to t(:'site.nav.business-schools'), root_url + 'provider_categories/biznes-shkoly'
      %li= link_to t(:'site.nav.vip'), root_url + 'posting_categories/vip'
      %li= link_to t(:'postings.title'), posting_categories_path, {:style => 'border-right: 0px none;'}

    -#%ul.nav.secondary-nav
      -#%li{ :class => 'dropdown', :'data-dropdown' => 'dropdown' }
        -#%a{ :href => '#', :class => 'dropdown-toggle' } Login
        -#%ul.dropdown-menu
          -#= render :partial => 'shared/login_bar'
