= form_for tutor_category, :url => ( tutor_category.new_record? ? admin_tutor_categories_path : admin_tutor_category_path(tutor_category) ), :html => { :multipart => true } do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => tutor_category }
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :parent_id
    = f.select :parent_id, TutorCategory.all.collect{|c| [c.name, c.id]}, { :prompt => 'Root category' }
  .field
    = f.label :permalink
    = f.text_field :permalink
  .actions
    = f.submit
