%h2= t(:'admin.tutor_categories.title')
= link_to new_admin_tutor_category_path do
  %i.icon-plus-sign
  = t(:'admin.tutor_categories.add')
%hr/
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %th Title
    %th Children
    %th{ :width => '130' } Actions
  %tbody
    - root_tutor_categories.each do |tut_category|
      %tr
        %td= tut_category.name
        -#.description= category.description
        %td
          -if tut_category.children
            %ul
              = render :partial => 'tutor_category', :collection => tut_category.children
        %td
          = link_to edit_admin_tutor_category_path( tut_category ) do
            %i.icon-pencil
            Edit
          = link_to admin_tutor_category_path(tut_category), :method => :delete, :confirm => 'Are you sure?' do
            %i.icon-remove
            Delete
%hr/
= link_to new_admin_tutor_category_path do
  %i.icon-plus-sign
  = t(:'admin.tutor_categories.add')