%legend= t(:'admin.tutor_categories.title')
= link_to new_admin_tutor_category_path do
  %i.icon-plus-sign
  = t(:'admin.tutor_categories.add')
%hr/
%table.table.table-striped.table-bordered.table-condensed
  %tbody.sort-categories.sortable
    - root_tutor_categories.each do |tut_category|
      %tr{:id => "sorted-item_#{tut_category.id}", :class => 'tutor_categorie'}
        %td.name
          = image_tag tut_category.icon_url(:standart), :class => 'rounded_2'
          %b= link_to tut_category.name, admin_tutor_category_path(tut_category)
        %td.children
          -if tut_category.children.present?
            %ul
              = render :partial => 'tutor_category', :collection => tut_category.children
        %td.drag-handle
          %i.icon-move
          %hr/
          = link_to edit_admin_tutor_category_path( tut_category ) do
            %i.icon-pencil
%hr/
= link_to new_admin_tutor_category_path do
  %i.icon-plus-sign
  = t(:'admin.tutor_categories.add')