- set_meta_tags :title => t(:'seo.meta.home_title'), :description => t(:'seo.meta.home_description'), :keywords => t(:'seo.meta.home_keywords'), :separator => '', :reverse => false
#home
  .row
    .span8
      .row
        .span5
          .flexslider
            %ul.slides
              - for posting in PostingCategory.post_cat.postings.order("created_at ASC").approved.limit(6) do
                - unless posting.images.empty?
                  %li
                    = image_tag posting.images.last.src_url(:slider).to_s
                    .flex-caption
                      %p.title
                        = link_to posting_path(posting) do
                          = posting.title
                      %p.info
                        Автор:
                        = posting.user
                        &nbsp; | &nbsp; Комментарии:
                        = link_to '', posting_path(posting) + '#disqus_thread'
                        &nbsp; | &nbsp;
                        = link_to 'Читать...', posting_path(posting)

        .span3
          - for posting in PostingCategory.post_cat.postings.order("created_at ASC").approved.limit(6) do
            .item
              = link_to '#' do
                = posting.title


      -#.coda-slider-wrapper
        .coda-slider.preload#coda-slider-1
          - PostingCategory.post_cat.children.each do |cat|
            .panel
              .panel-wrapper.row
                %h2.title= cat.name
                - for posting in cat.postings.order("created_at ASC").approved.limit(4) do
                  .mosaic-block.bar.span2
                    .mosaic-overlay
                      .details
                        %h4= link_to posting.title, posting
                        %p
                          = time_ago_in_words posting.created_at.to_s
                          назад
                        %p
                          -#= link_to posting.user do
                          = posting.user
                        %p
                          = link_to '', posting_path(posting) + '#disqus_thread'
                    .mosaic-backdrop
                      - unless posting.images.empty?
                        = image_tag posting.images.last.src_url(:medium).to_s


      .row
        .span8
          .blog-title
            = t(:'home.titles.blog')
            = link_to posting_category_path(PostingCategory.blog_cat), :style => 'float:right;' do
              %i.icon-list.icon-white
              Смотреть все блоги
          .blog
            - PostingCategory.blog_cat.postings.approved.limit(4).each_with_index do |blog_post,index|
              - if ((index % 2) == 0)
                .clear
              = render :partial => 'home/blog_post', :locals => {:blog_post => blog_post}



      .home-postings
        .row
          .span4
            = link_to posting_category_path(PostingCategory.wiki_cat) do
              %h2.home-title= t(:'home.titles.wiki')
            %ul
              - for wiki_post in PostingCategory.wiki_cat.postings.approved.limit(3)
                %li{:style => 'margin-bottom: 5px;'}
                  %h5= link_to wiki_post.title, posting_path(wiki_post), :class=>'post_title'
                  = link_to wiki_post.user, profile_path(wiki_post.user.profile), :class=>'user_link'
                  |
                  %i.icon-comment
                  = link_to '', posting_path(wiki_post) + '#disqus_thread'




          -#.span4
            = link_to posting_categories_path do
              %h2.home-title= t(:'home.titles.posts')
            %ul
              - for post in PostingCategory.post_cat.postings.approved.limit(3)
                %li{:style => 'margin-bottom: 5px;'}
                  %h5= link_to post.title, posting_path(post), :class=>'post_title'
                  = link_to post.user, profile_path(post.user.profile) , :class=>'user_link'
                  |
                  %i.icon-comment
                  = link_to '', posting_path(post) + '#disqus_thread'
          .span4
            = link_to posting_category_path(PostingCategory.video_cat) do
              %h2.home-title= t(:'home.titles.video')
            %ul
              - for video_post in PostingCategory.video_cat.postings.approved.limit(3)
                %li{:style => 'margin-bottom: 5px;'}
                  %h5= link_to video_post.title, posting_path(video_post), :class=>'post_title'
                  = link_to video_post.user, profile_path(video_post.user.profile) , :class=>'user_link'
                  |
                  %i.icon-comment
                  = link_to '', posting_path(video_post) + '#disqus_thread'



      %h2.home-title= t(:'home.titles.categories')
      .row
        - root_categories.each_with_index do |category, index|
          - if ((index % 2) == 0) && index > 0
            .clear
          .span4
            .row.category_item
              .span1.category_icon
                = link_to category do
                  = image_tag category.icon_url(:standart), :title => category
              .span3.list
                %h3= link_to category, category
                %ul
                  - for sub_category in category.top_subcategories do
                    %li
                      = link_to sub_category do
                        = "#{sub_category} (#{sub_category.providers_count})"
    .span4
      = render :partial => 'shared/advertising/kursor_ads'
      %hr/
      = render :partial => 'shared/widgets/widgets'
