.row
  .span8

    %h2.home-title= t(:'home.titles.featured_posting')
    %ul.home-postings.row
      - for posting in recent_postings do
        %li.span2
          %article.posting
            - if !posting.images.empty?
              = link_to posting, :class => 'thumbnail' do
                = image_tag posting.images.last.src_url(:small).to_s
            %h3= link_to posting.title, posting
            .excerpt= posting.excerpt[0..100]
            .user
              = link_to posting.user do
                - if posting.user.visitor?
                  - if posting.user.profile.present?
                    = image_tag posting.user.profile.avatar_url(:icon)
                - else
                  = image_tag posting.user.provider.logo_url(:icon)
                = posting.user
            .date
              = time_ago_in_words posting.created_at
              назад


    %h2.home-title= t(:'home.titles.categories')
    .row
      - root_categories.each_with_index do |category, index|
        - if ((index % 3) == 0) && index > 0
          .clear
        .span4
          %h3= link_to category, category
          %ul
            - for sub_category in category.top_subcategories do
              %li
                = link_to sub_category do
                  = "#{sub_category} (#{sub_category.providers_count})"

  .span4
    %h2.home-title= t(:'home.titles.recent_providers')
    - providers.each do |item|
      .row
        .span1
          = link_to item, :class => 'thumbnail' do
            = image_tag item.logo_url(:thumb)
          %br
        .span3
          %b= link_to item.name, provider_path(item)

