#home
  .row
    .span8

      %ul#FeaturedNav.nav.nav-tabs
        - root_posting_categories.each_with_index do |cat, index|
          - if index == 0
            %li.active
              = link_to cat.name, '#' + cat.name, "data-toggle" => "tab"
          - else
            %li
              = link_to '#' + cat.name, "data-toggle" => "tab" do
                = cat.name

      #FeaturedTabs.tab-content
        - root_posting_categories.each_with_index do |cat, index|
          - if index == 0
            %div{ :id => cat.name, :class => 'tab-pane fade active in'}



              .home-postings.row
                - for posting in cat.postings.order("created_at ASC").approved.limit(4) do
                  .span2
                    .posting
                      = link_to posting do
                        = image_tag posting.images.last.src_url(:medium).to_s
                    %h3= link_to posting.title, posting
                    .excerpt= posting.excerpt[0..100]
                    .user
                      = link_to posting.user do
                        = posting.user
                    .date
                      = time_ago_in_words posting.created_at.to_s + ' назад'
          - else
            %div{ :id => cat.name, :class => 'tab-pane fade'}
              .home-postings.row
                - for posting in cat.postings.approved.limit(4) do
                  .span2
                    .posting
                      = link_to posting do
                        = image_tag posting.images.last.src_url(:medium).to_s
                    %h3= link_to posting.title, posting
                    .excerpt= posting.excerpt[0..100]
                    .user
                      = link_to posting.user do
                        = posting.user
                    .date
                      = time_ago_in_words posting.created_at.to_s + ' назад'

      %h2.home-title= t(:'home.titles.categories')
      .row
        - root_categories.each_with_index do |category, index|
          - if ((index % 3) == 0) && index > 0
            .clear
          .span4
            %h3= link_to category, category
            %ul
              - for sub_category in category.top_subcategories do
                %li
                  = link_to sub_category do
                    = "#{sub_category} (#{sub_category.providers_count})"

    .span4
      %h2.home-title= t(:'home.titles.recent_providers')
      - providers.each do |item|
        .row
          .span1
            = link_to item, :class => 'thumbnail' do
              = image_tag item.logo_url(:thumb)
            %br
          .span3
            %b= link_to item.name, provider_path(item)

  -#.row
  -#  .span8
  -#    .mosaic-block.bar2
  -#      = link_to Posting.find(22), :class => 'mosaic-overlay', :style => 'display: inline; ' do
  -#        .details
  -#          %h4 Около 9 тысяч китайцев учатся в
  -#          %p Около 9 тысяч китайцев учатся в украинских вузах
  -#      .mosaic-backdrop{:style => 'display: block; '}
  -#        = image_tag Posting.find(22).images.last.src_url(:medium).to_s
  -#
  -#    .mosaic-block.bar
  -#      %a{ :href => "http://buildinternet.com/project/mosaic", :target => "_blank", :class => "mosaic-overlay" }
  -#        .details
  -#          %h4 Mosaic - Sliding Boxes and Captions jQuery Plugin
  -#          %p by Build Internet
  -#        .mosaic-backdrop
  -#          = image_tag "http://buildinternet.s3.amazonaws.com/projects/mosaic/mosaic.jpg"
