.flash
  .flash_message.alert-message.notice
    Портал работает в тестовом режиме. Просим прощения за временные неудобства и благодарим за понимание.

.row
  .span12
    %h2.home-title= t(:'home.titles.categories')
    .row
      - root_categories.each_with_index do |category, index|
        - if ((index % 3) == 0) && index > 0
          .clear

        .span4
          %h3= link_to category, category
          %ul
            - for sub_category in category.top_subcategories do
              %li
                = link_to sub_category do
                  = "#{sub_category} (#{sub_category.providers_count})"

    .row
      .span12
        %h2.home-title Свежие статьи
        %ul.home-postings.row
          - for posting in recent_postings do
            %li.span3
              %article.posting
                -#- for image in posting.images do
                  -#- image.src.recreate_versions!
                  -#- image.save
                .image.thumbnail= image_tag posting.images.last.src_url(:small).to_s
                %h3= link_to posting.title, posting
                .excerpt= posting.excerpt[0..100]
                .date
                  = time_ago_in_words posting.created_at
                  назад
  .span4
    %h2.home-title= t(:'home.titles.top_providers')
    %ul.home-providers.no-bullets
      - providers.each do |item|
        %li
          - if item.logo?
            .thumbnail
              = link_to item do
                = image_tag item.logo_url(:medium)
          %h3= link_to item.name, provider_path(item)
  -#.span11
    -#.row
      -#.span7
        -#%h2.home-title= t(:'home.titles.featured_posting')
        -#.featured-posting
          -#%article.posting
            -#=link_to featured_posting do
              -#.image= image_tag featured_posting.images.last.src_url(:medium).to_s
            -#%h3= link_to featured_posting.title, featured_posting
            -#.excerpt= featured_posting.excerpt
            -#.date
              -#= time_ago_in_words featured_posting.created_at
              -#назад
      -#.span4
        -#%h2.home-title= t(:'home.titles.news')
        -#%ul.home-news.no-bullets
          -#- news.each do |item|
            -#%li
              -#%article.news-item
                -#- if !item.images.empty?
                  -#.image
                    -#= link_to news_path(item) do
                      -#= image_tag item.images.last.src_url(:thumb).to_s
                -#-#.date= item.created_at.strftime("%d.%m.%y")
                -#%h3= link_to item.title, news_path(item)
    -#%h2.home-title Все статьи
    -#%ul.home-postings
      -#- recent_postings.each do |posting|
        -#%li
          -#%article.posting
            -#.image= image_tag posting.images.last.src_url(:thumb).to_s
            -#%h3= link_to posting.title, posting
            -#.excerpt= posting.excerpt
            -#.date
              -#= time_ago_in_words posting.created_at
              -#назад

    -#-#.home-categories.clearfix
      -#-#- root_categories.each do |category|
        -#-#%div.category-item
          -#-#%h3= link_to category.name, category
          -#-#.description= category.description
  -#.span5
    -#.banner
      -#= image_tag 'banner_holder01.jpg'
    -#%h2.home-title= t(:'home.titles.recent_providers')
    -#%ul.home-providers.no-bullets
      -#- providers.each do |item|
        -#%li
          -#%h3= link_to item.name, provider_path(item)
          -#-#.decription= excerpt(item.description, '', :radius => 48)


