- set_meta_tags :title => t(:'seo.meta.home_title'), :description => t(:'seo.meta.home_description'), :keywords => t(:'seo.meta.home_keywords'), :separator => '', :reverse => false
#home
  .row
    .span8
      .row
        .span5
          .flexslider
            %ul.slides
              - if PostingCategory.post_cat
                - for posting in PostingCategory.post_cat.postings.order("created_at ASC").approved.limit(6) do
                  - unless posting.images.empty?
                    %li
                      = image_tag posting.images.last.src_url(:slider).to_s
                      .flex-caption
                        %p.title
                          = link_to posting_path(posting) do
                            = posting.title
                        %p.info
                          Автор:
                          = posting.user
                          &nbsp; | &nbsp; Комментарии:
                          = link_to '', posting_path(posting) + '#disqus_thread'
                          &nbsp; | &nbsp;
                          = link_to 'Читать...', posting_path(posting)
        .span3
          - if PostingCategory.post_cat
            .last-postings-block
              .last-postings-title
                = t(:'home.titles.featured_posting')
                = link_to posting_category_path(PostingCategory.post_cat), :style => 'float:right;' do
                  %i.icon-file.icon-white
                  = t(:'home.titles.all_postings')
              %ul.last-postings
                - if PostingCategory.post_cat
                  - for posting in PostingCategory.post_cat.postings.order("created_at ASC").approved.limit(5) do
                    %li= link_to posting.title, posting_path(posting)

      .row
        - if PostingCategory.post_cat
          .span8
            .blog-title
              = t(:'home.titles.blog')
              = link_to posting_category_path(PostingCategory.blog_cat), :style => 'float:right;' do
                %i.icon-list.icon-white
                = t(:'home.titles.all_blog_posts')
            .blog
              - PostingCategory.blog_cat.postings.approved.limit(4).each_with_index do |blog_post,index|
                - if ((index % 2) == 0)
                  .clear
                = render :partial => 'home/blog_post', :locals => {:blog_post => blog_post}
      .row
        - if PostingCategory.wiki_cat
          .span8
            .wiki-block
              .wiki-title
                %h3= t(:'home.titles.wiki')
              - for wiki_post in PostingCategory.wiki_cat.postings.approved.limit(4)
                .wiki-post
                  = link_to posting_path(wiki_post) do
                    = image_tag wiki_post.images.last.src_url(:small), :alt => wiki_post
                  %p= link_to wiki_post.title.truncate(45), posting_path(wiki_post), :title => wiki_post

              = link_to posting_category_path(PostingCategory.wiki_cat), :class => 'all-wiki' do
                %i.icon-circle-arrow-right.icon-white
      .row
        - if PostingCategory.video_cat
          .span8
            .video-block
              .video-title
                %h3= t(:'home.titles.video')
              - for video_post in PostingCategory.video_cat.postings.approved.limit(4)
                .video-post
                  = link_to posting_path(video_post) do
                    = image_tag video_post.images.last.src_url(:small), :alt => video_post
                  %p= link_to video_post.title.truncate(45), posting_path(video_post), :title => video_post

              = link_to posting_category_path(PostingCategory.video_cat), :class => 'all-video' do
                %i.icon-circle-arrow-right.icon-white

      -#%h2.home-title= t(:'home.titles.categories')
      .row
        - root_categories.each_with_index do |category, index|
          - if ((index % 2) == 0) && index > 0
            .clear
          .span4
            .row.category_item
              .span1.category_icon
                = link_to category do
                  = image_tag category.icon_url(:standart), :title => category
              .span3.list
                %h3= link_to category, category
                %ul
                  - for sub_category in category.top_subcategories do
                    %li
                      = link_to sub_category do
                        = "#{sub_category} (#{sub_category.providers_count})"
    .span4
      = render :partial => 'shared/advertising/kursor_ads'
      = render :partial => 'shared/advertising/home_right_second'
      %hr/
      - if home_promotions.size > 0
        %h3 VIP
        %ul.vip-promotions
          = render :partial => 'vip_promotion', :collection => home_promotions
        %hr/
      = render :partial => 'shared/widgets/widgets'
