#home
  .row
    .span8
      .coda-slider-wrapper
        .coda-slider.preload#coda-slider-1
          - root_posting_categories.each do |cat|
            .panel
              .panel-wrapper.row
                %h2.title= cat.name
                - for posting in cat.postings.order("created_at ASC").approved.limit(4) do
                  .mosaic-block.bar.span2
                    .mosaic-overlay
                      .details
                        %h4= link_to posting.title, posting
                        %p
                          = time_ago_in_words posting.created_at.to_s
                          назад
                        %p
                          -#= link_to posting.user do
                          = posting.user
                        %p
                          = t(:'home.news_slider.comments')
                          = posting.comment_threads.size
                    .mosaic-backdrop
                      = image_tag posting.images.last.src_url(:medium).to_s

      %br/
      %h2.home-title= t(:'home.titles.categories')
      .row
        - root_categories.each_with_index do |category, index|
          - if ((index % 3) == 0) && index > 0
            .clear
          .span4
            %h3= link_to category, category
            %ul
              - for sub_category in category.top_subcategories do
                %li
                  = link_to sub_category do
                    = "#{sub_category} (#{sub_category.providers_count})"
    .span4
      = link_to root_url + 'categories/schools' do
        = image_tag '/images/shkola.jpg'
      %br/
      %br/
      %h2.home-title= t(:'home.titles.recent_providers')
      .row
        .span4
        -#.span1
        -#  = link_to item, :class => 'thumbnail' do
        -#    = image_tag item.logo_url(:thumb)
        -#  %br
        -#.span3
        -#  %b= link_to item.name, provider_path(item)
      - providers.each do |item|
        %h5{ :style => 'margin-bottom: 2px;' }= link_to item.name, provider_path(item)

