#home
  .row
    .span8

      -#%h2.home-title= t(:'home.titles.featured_posting')


      %ul#FeaturedNav.nav.nav-tabs
        - root_posting_categories.each_with_index do |cat, index|
          - if index == 0
            %li.active
              = link_to cat.name, '#' + cat.name, "data-toggle" => "tab"
          - else
            %li
              = link_to '#' + cat.name, "data-toggle" => "tab" do
                = cat.name

      #FeaturedTabs.tab-content
        - root_posting_categories.each_with_index do |cat, index|
          - if index == 0
            %div{ :id => cat.name, :class => 'tab-pane fade active in'}
              .home-postings.row
                - for posting in cat.postings.approved.last(4) do
                  .span2
                    .posting
                      .recent_image{ :style => 'height: 93px; width: 140; ' }
                        - if !posting.images.empty?
                          = link_to posting do
                            = image_tag 'no-image-small.png', :width => '140px', :height => '93', "data-original" => posting.images.last.src_url(:small).to_s
                      %h3= link_to posting.title, posting
                      .excerpt= posting.excerpt[0..100]
                      .user
                        = link_to posting.user do
                          = posting.user
                      .date
                        = time_ago_in_words posting.created_at.to_s + ' назад'
          - else
            %div{ :id => cat.name, :class => 'tab-pane fade'}
              .home-postings.row
                - for posting in cat.postings.approved.last(4) do
                  .span2
                    .posting
                      .recent_image{ :style => 'height: 93px; width: 140; ' }
                        - if !posting.images.empty?
                          = link_to posting do
                            = image_tag posting.images.last.src_url(:small).to_s, :width => '140px', :height => '93'
                      %h3= link_to posting.title, posting
                      .excerpt= posting.excerpt[0..100]
                      .user
                        = link_to posting.user do
                          = posting.user
                      .date
                        = time_ago_in_words posting.created_at.to_s + ' назад'

      %h2.home-title= t(:'home.titles.categories')
      .row
        - root_categories.each_with_index do |category, index|
          - if ((index % 3) == 0) && index > 0
            .clear
          .span4
            %h3= link_to category, category
            %ul
              - for sub_category in category.top_subcategories do
                %li
                  = link_to sub_category do
                    = "#{sub_category} (#{sub_category.providers_count})"

    .span4
      %h2.home-title= t(:'home.titles.recent_providers')
      - providers.each do |item|
        .row
          .span1
            = link_to item, :class => 'thumbnail' do
              = image_tag item.logo_url(:thumb)
            %br
          .span3
            %b= link_to item.name, provider_path(item)

