.flash
  .flash_message.alert-message.notice
    Портал работает в тестовом режиме. Просим прощения за временные неудобства и благодарим за понимаение.

.row
  .span11
    .row
      .span7
        %h2.home-title= t(:'home.titles.featured_posting')
        .featured-posting
          %article.posting
            =link_to featured_posting do
              .image= image_tag featured_posting.images.last.src_url(:medium).to_s
            %h3= link_to featured_posting.title, featured_posting
            .excerpt= featured_posting.excerpt
            .date
              = time_ago_in_words featured_posting.created_at
              назад
      .span4
        %h2.home-title= t(:'home.titles.news')
        %ul.home-news.no-bullets
          - news.each do |item|
            %li
              .date= item.created_at.strftime("%d.%m.%y")
              %h3= link_to item.title, news_path(item)
    %h2.home-title Все статьи
    %ul.home-postings
      - recent_postings.each do |posting|
        %li
          %article.posting
            .image= image_tag posting.images.last.src_url(:thumb).to_s
            %h3= link_to posting.title, posting
            .excerpt= posting.excerpt
            .date
              = time_ago_in_words posting.created_at
              назад

    -#.home-categories.clearfix
      -#- root_categories.each do |category|
        -#%div.category-item
          -#%h3= link_to category.name, category
          -#.description= category.description
  .span5
    .banner
      = image_tag 'banner_holder01.jpg'
    %h2.home-title= t(:'home.titles.recent_providers')
    %ul.home-providers.no-bullets
      - providers.each do |item|
        %li
          %h3= link_to item.name, provider_path(item)
          -#.decription= excerpt(item.description, '', :radius => 48)


