- set_meta_tags :title => wiki_page.title, :description => wiki_page.description
#wiki
  #show
    .row
      .span8
        %h1
          = wiki_page.title
          &nbsp;
          = link_to edit_admin_wiki_path(wiki_page), :class => 'btn btn-mini' do
            %i.icon-pencil
          -#= link_to admin_wiki_path(wiki_page), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini', :style => 'float:right;' do
            %i.icon-remove
        %hr/
        .body
          = image_tag wiki_page.image_url(:standart), :class => 'lead_image'
          = wiki_page.body.html_safe



        - unless wiki_page.children.empty?
          .well{:style => "padding: 8px 0; clear: both;"}
            %ul.nav.nav-list
              - wiki_page.children.each do |child|
                %li{ :class => ( 'active' if request.fullpath.include?("/info/" + child.permalink) ) }
                  = link_to wiki_path(child) do
                    = image_tag child.image_url(:thumb)
                    &nbsp;&nbsp;
                    = child.title


      .span4
