= form_for [event_parent, event], :html => { :class => 'form-horizontal' } do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => event }

  - unless params[:provider_id]
    - if current_user.school? && current_user.providers.exists?
      = f.hidden_field :eventable_type, :value => 'Provider'
      .control-group
        = f.label :title, t(:'events.provider'), :class => 'control-label'
        .controls
          = f.select :eventable_id, options_from_collection_for_select(current_user.providers, :id, :name), {}, {:class => 'span6'}

  .control-group
    = f.label :title, t(:'events.title'), :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'span6'
  .control-group
    = f.label :title, t(:'events.category'), :class => 'control-label'
    .controls
      - root_event_categories.each do |c|
        %label.radio.inline
          = radio_button_tag 'event[event_category_ids][]', c.id, ( :checked if event.event_categories.include? c ), :class => 'category-sub-parent'
          %span= c.name
        = render :partial => '/events/event_sub_category_fields', :locals => { :c => c, :event => event, :f => f }
  .control-group
    = f.label :description, t(:'events.description'), :class => 'control-label'
    .controls
      = f.cktext_area :description, :class => 'text_area', :toolbar => 'Basic'
  .control-group
    = f.label :start_datetime, t(:'events.start_date'),:class => 'control-label'
    .controls
      = f.text_field :start_datetime, :class => 'datetime-picker span3'

  .control-group
    = f.label :end_datetime, t(:'events.end_date'), :class => 'control-label'
    .controls
      = f.text_field :end_datetime, :class => 'datetime-picker span3'

  .control-group
    = f.label :min_price, t(:'events.min_price'),:class => 'control-label'
    .controls
      = f.number_field :min_price, :class => 'span1'

  .control-group
    = f.label :max_price, t(:'events.max_price'), :class => 'control-label'
    .controls
      = f.number_field :max_price, :class => ' span1'
  .control-group
    = f.label :teacher, t(:'events.teacher'), :class => 'control-label'
    .controls
      = f.text_field :teacher, :class => 'span6'
  = f.fields_for :location do |l|
    %legend= t(:'events.location')
    = render :partial => 'addresses/location_fields', :locals => { :f => l }



  .form-actions
    = f.submit t(:'events.actions.save'), :class => 'btn btn-large btn-success'
