
.row
  .span8

    - unless parent?
      %h1.home-title= t(:'events.events_html')

    - if authenticated?
      - if parent? && event_parent.user == current_user
        %p
          = link_to [:new, event_parent, :event], :class => 'btn btn-mini' do
            %i.icon-plus-sign
            = t(:'events.actions.new')
    - if @events.size > 0
      %table.table
        %thead
          %tr
            %th{:style=>'width:80px;'}= t(:'events.date')
            %th= t(:'events.title')
            %th{:style=>'width:100px;'}= t(:'events.price.cost')
            %th{:style=>'width:85px;'}= t(:'events.provider')
        %tbody
          - @events.each do |event|
            %tr
              %td
                = l event.start_datetime, :format => '%e %B' unless event.start_datetime.blank?
                %br/
                = l event.end_datetime, :format => '%e %B' unless event.end_datetime.blank?
              %td= link_to event.title, event_path(event), :title => event.title
              %td
                = t(:'events.price.from').to_s + ' ' + event.min_price.to_s
                - unless event.max_price.blank?
                  = t(:'events.price.to').to_s + ' ' + event.max_price.to_s
              %td
                - if event.eventable.is_a? Provider
                  = link_to provider_path(event.eventable) do
                    = image_tag event.eventable.logo_url(:thumb).to_s, :title => event.eventable.name
                - if event.eventable.is_a? Tutor
                  = link_to tutor_path(event.eventable) do
                    = image_tag event.eventable.avatar_url(:thumb).to_s, :title => event.eventable.name

                -#- if parent? || authorized?
                  = link_to t('.edit', :default => t("helpers.links.edit")), [:edit, event.eventable, event], :class => 'btn btn-mini'
                  = link_to t('.destroy', :default => t("helpers.links.destroy")), [event.eventable, event], :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'
    - else
      = t(:'events.no_events')
  .span4
