#events
  #show
    .row
      .span8
        %span.date
          = l(@event.start_datetime, :format => '%e %B')
        - unless @event.end_datetime.blank?
          &#8211;
          %span.date
            = l(@event.end_datetime, :format => '%e %B')
        %h1= @event.title
        .well.pull-right
          %p
            Event price:
            = @event.min_price
          %p
            Location:
            -#= Address::City.find(@event.location.city_id)
            = @event.location.city_id.inspect
          %p
            Start time:
            = l(@event.start_datetime, :format => '%R')
        .description
          = @event.description.html_safe

        - if authenticated?
          - if (@event.eventable.user = current_user) || authorized?
            .form-actions
              = link_to t(:'events.actions.to_edit'), [:edit, event_parent, :event], :class => 'btn'
              = link_to t(:'events.actions.destroy'), [event_parent, :event], :method => "delete", :confirm => 'Are you sure?', :class => 'btn btn-danger'
      .span4