.fields.filial-fields
  %fieldset
    .control-group
      = f.label :name
      .controls
        = f.text_field :name
        = link_to_remove_fields "[X]", f
    -# TODO: research nested associations building
    = f.fields_for( f.object.location || f.object.class.reflect_on_association(:location).klass.new ) do |l|
      = render :partial => 'providers/location_fields', :locals => { :f => l }

    = f.fields_for :contacts do |c|
      .fields
        = render :partial => 'contacts/contact_fields', :locals => { :f => c }
    .fields= link_to_add_fields "Add contact", f, :contacts
