= form_for [:admin, promotion] do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => promotion }
  = f.label :promotionable, 'Provider name'
  - if promotion.promotionable
    %h3= promotion.promotionable
  - else
    = f.text_field :provider_name, data: { source: Provider.all.map(&:name), provide: 'typeahead' }, class: 'typeahead'
  = f.label :is_featured do
    = f.check_box :is_featured
    Featured?
  = f.label :is_vip do
    = f.check_box :is_vip
    VIP?

  = f.label :start_date
  = f.date_select :start_date
  = f.label :end_date
  = f.date_select :end_date
  .actions
    = f.submit class: 'btn '
