= link_to [:new, :admin, :promotion], :style => 'float:right;', :class => 'btn' do
  %i.icon-plus
  = t(:'most_common_labels.add')
%legend= t(:'admin.promotions.current')
%ul
  = render promotions.current

%legend= t(:'admin.promotions.future')
%ul
  = render promotions.future

%legend= t(:'admin.promotions.expired')

.alert.alert-error

  %ul
    = render promotions.expired

= link_to [:new, :admin, :promotion], :style => 'float:right;', :class => 'btn' do
  %i.icon-plus
  = t(:'most_common_labels.add')





