#tree
  .row
    .span12
      %table.table.table-condensed
        %tbody.sort-adv_categories.sortable
          - for category in categories
            %tr{:id => "sorted-item_#{category.id}", :class => 'adv/categorie'}
              %td.drag-handle
                %i.icon-move
              %td.tree
                = link_to category.name, admin_adv_category_path(category)
                = link_to new_admin_adv_category_path(:parent => category), :class => 'add', :title => 'Add child category' do
                  %i.icon-plus-sign-alt.muted
                - if category.children.exists?
                  = render :partial => 'children', :locals => { :category => category}
              %td.status
                - if category.description.present?
                  %a{"data-content" => category.description , :title => category.name + ' (' + category.permalink + ')', :href => '#', :rel => "popover", :placement => 'left'}
                    %span.badge.badge-success
                      %i.icon-ok.icon-white
                - else
                  %a{ :title => 'No Description!', :href => '#', :rel => "tooltip", :placement => 'left'}
                    .badge
                      %i.icon-exclamation-sign.icon-white

              %td
                = link_to edit_admin_adv_category_path(category), :class => 'action' do
                  %i.icon-edit
                = link_to admin_adv_category_path(category), :confirm => 'Are you sure?', :method => :delete, :class => 'action' do
                  %i.icon-trash