%table.table.table-condensed
  %tr
    %th Name
    %th Permalink
    %th Act
    %th ion
    %th s
  - for category in categories
    %tr
      %td
        = category.name
        = link_to 'Add child', new_admin_adv_category_path(:parent => category)
      %td= category.permalink
      %td= link_to 'Show', admin_adv_category_path(category)
      %td= link_to 'Edit', edit_admin_adv_category_path(category)
      %td= link_to 'Destroy', admin_adv_category_path(category), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Admin/Adv/Category", new_admin_adv_category_path
