%table.table.table-condensed
  %tr
    %th Name
    %th Permalink
    %th Act
    %th ion
    %th s
  - for category in categories
    %tr
      %td
        = link_to category.name, admin_adv_category_path(category)
        = link_to '+', new_admin_adv_category_path(:parent => category)
        - if category.children.exists?
          = render :partial => 'children', :locals => { :category => category}
      %td= category.permalink
      %td= link_to 'Show', admin_adv_category_path(category)
      %td= link_to 'Edit', edit_admin_adv_category_path(category)
      %td= link_to 'Destroy', admin_adv_category_path(category), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New root category", new_admin_adv_category_path
