.control-group
  %label.control-label
    = t(:'visitor.edit_profile.location.region')
  .controls
    = select_tag "region_id", options_from_collection_for_select(Region.all, :id, :name), :prompt => "-"
.control-group
  %label.control-label
    = t(:'visitor.edit_profile.location.city')
  .controls
    = f.grouped_collection_select :city_id, Region.all(:order => "name"), :cities, :name, :id, :name, :class => 'select-city', :prompt => t(:'admin.users.selectors.choose_city')

.control-group
  %label.control-label
    = t(:'visitor.edit_profile.location.street')
  .controls
    = f.text_field :street, :class => 'span2'
.control-group
  %label.control-label
    = t(:'visitor.edit_profile.location.building')
  .controls
    = f.text_field :building, :class => 'span2'
.control-group
  %label.control-label
    = t(:'visitor.edit_profile.location.apartment')
  .controls
    = f.text_field :apartment, :class => 'span2'
.control-group
  %label.control-label
    = t(:'address.gmaps_check_box')
  .controls
    %label.checkbox
      = f.check_box :gmaps
      %p.silver= t(:'address.gmaps_check_box_help')