.control-group
  %label.control-label
    = t(:'visitor.edit_profile.location.city')
  .controls
    = f.select :city_id, Address::City.all.collect{|c| [c.name, c.id]}, :class => 'select-city', :prompt => t(:'admin.users.selectors.choose_city')
    = #f.text_field :custom_city, :class => 'custom-city'
.control-group
  %label.control-label
    = t(:'visitor.edit_profile.location.street')
  .controls
    = f.text_field :street, :class => 'span2'
.control-group
  %label.control-label
    = t(:'visitor.edit_profile.location.building')
  .controls
    = f.text_field :building, :class => 'span2'
.control-group
  %label.control-label
    = t(:'visitor.edit_profile.location.apartment')
  .controls
    = f.text_field :apartment, :class => 'span2'
