%h1= t(:'admin.postings.posting_list.title')

= link_to new_admin_posting_path do
  %i.icon-plus-sign
  = t(:'admin.postings.posting_list.create')

%hr/
%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th= t(:'admin.postings.posting_list.name')
      %th= t(:'admin.postings.posting_list.user')
      %th= t(:'admin.postings.posting_list.date')
      %th{ width: '120' }= t(:'admin.postings.posting_list.actions')
  %tbody
    - for posting in postings do
      %tr
        %td= link_to posting.title, admin_posting_path(posting)
        %td= posting.user
        %td= l posting.created_at, :format => :long
        %td
          = link_to edit_admin_posting_path(posting) do
            %span.icon-pencil
            = t(:'admin.postings.posting_list.edit')
          %br
          = link_to admin_posting_path(posting), :method => :delete, :confirm => 'Are you sure?' do
            %span.icon-remove
            = t(:'admin.postings.posting_list.delete')
          %br
          = link_to posting.is_approved? ? decline_admin_posting_path(posting) : approve_admin_posting_path(posting)  do
            %span{ :class => "icon-#{posting.is_approved? ? 'ban-circle' : 'ok-circle'}"}
            - if posting.is_approved?
              = t(:'admin.postings.actions.decline')
            - else
              = t(:'admin.postings.actions.approve')

%hr
= link_to new_admin_posting_path do
  %i.icon-plus-sign
  = t(:'admin.postings.posting_list.create')

