%h2= t(:'admin.postings.posting_categories.title')
%hr/
= link_to new_admin_posting_category_path do
  %i.icon-plus-sign
  = t(:'admin.postings.posting_categories.create')
%hr/
%table.table.table-striped.table-bordered.table-condensed
  %tbody
    - root_posting_categories.each do |category|
      %tr
        %td
          %ul
            %li
              = link_to category.name, edit_admin_posting_category_path( category )
            - if category.children
              = render :partial => 'posting_category', :collection => category.children
%hr/
= link_to new_admin_posting_category_path do
  %i.icon-plus-sign
  = t(:'admin.postings.posting_categories.create')