%li.clearfix.list-provider
  .image-container
    = link_to provider_path(provider) do
      = image_tag 'no-image.png', :width => '', :height => '180', :style => 'min-width: 180px;', "data-original" => provider.logo_url(:medium)
  %h4= link_to provider.name, provider_path(provider)
  - if provider.location
    .address
      %strong
        = "#{t(:'providers.custom_fields.address')}:"
      = format_location provider.location
  .categories
    - if provider
      %ul
        - for categoring in provider.categories
          %li= link_to categoring, category_path(categoring)
