%li.clearfix.list-provider
  -if provider.logo_url
    .image-container
      = image_tag provider.logo_url(:medium)
  %h4= link_to provider.name, provider_path(provider)
  - if provider.location
    .address
      %strong
        = "#{t(:'providers.custom_fields.address')}:"
      = format_location provider.location
  .categories
    %ul
      - for categoring in provider.categorizings
        %li= link_to categoring, category_path(categoring.category), :class => 'link-icon icon-arrow'
