- set_meta_tags :title => category.name + ' | ' + t(:'seo.sections.providers'), :description => category.description
.row
  .span12
    %ul.breadcrumb
      =breadcrumbs_for_category category
    = render 'shared/provider_filter'
    %h3= category.name
    %ul.categories.clearfix
      - for child in category.children
        %li
          %h3= link_to child, child
          - if child.children
            %ul.children-categories
              - for child in child.children
                %li= link_to child, child
    - if providers.size > 0
      %ul.entries
        - for provider in providers
          = render :partial => 'categories/provider', :locals => { :provider => provider }
      .page_navigation.clear= paginate providers
    - else
      Нет зарегистрированных заведений в этой категории
    %hr/