- set_meta_tags :title => category.name + ' | ' + t(:'seo.sections.providers'), :description => category.description
#categories
  #show
    .row
      .span8
        %ul.breadcrumb
          = breadcrumbs_for_category category
        .header
          = render 'shared/provider_filter'
          .row
            .span1
              = image_tag category.icon_url(:standart), :class => 'rounded_4'

            .span6
              %h3= category.name
              %p= category.description
        %ul.categories.clearfix
          - for child in category.children
            %li
              = link_to child do
                = image_tag child.icon_url(:small), :title => child, :class => 'rounded_2'
              = link_to child do
                %h3= child
              - if child.children
                %ul.children-categories
                  - for ch in child.top_subcategories
                    %li
                      = link_to (ch.name + ' <sup>' +ch.providers_count.to_s + '</sup>').html_safe, ch
                  - if child.children.size > 5
                    %li.bullet_down= link_to t(:'categories.more'), child, :title => t(:'categories.more_title')

        - if providers.size > 0
          %ul.entries
            - for provider in providers
              = render :partial => 'categories/provider', :locals => { :provider => provider }
          .page_navigation.clear= paginate providers
        - else
          - if params[:filter]
            .alert
              По Вашему запросу ничего не найдено.
          - else
            .alert
              Нет зарегистрированных заведений в этой категории
        %hr/

      .span4
        = render :partial => 'shared/advertising/kursor_ads'
        %hr/
        = render :partial => 'shared/widgets/widgets'
