.column.span-20.prepend-4
  =breadcrumbs_for_category category
  %h3= category.name
  -#.description= category.description

  %ul.regions.clearfix
    - for region in regions
      %li= link_to region.name, '#'

  %ul.categories.clearfix
    - for child in category.children
      %li
        %h3= link_to child, child
        - if child.children
          %ul.children-categories
            - for child in child.children
              %li= link_to child, child


  %ul.entries
    - if category.root?
      - for provider in category.providers
        = render :partial => 'categories/provider', :locals => { :provider => provider }
    -else
      - category.categorizings.each do |categorizing|
        %li.clearfix.list-provider= link_to categorizing.provider.name, provider_path(categorizing.provider.permalink)

