= form_for(user, :url => ( user.new_record? ? admin_users_path : admin_user_path(user) ), :multipart => true ) do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => user }
  %fieldset
    .field
      = f.label :email
    .field
      = f.text_field :email, :size => '45'
    .field
      = f.label :password
    .field
      = f.password_field :password, :size => '45'
    .field
      = f.label :password_confirmation
    .field
      = f.password_field :password_confirmation, :size => '45'
    .field
      = button_tag t(:'admin.users.generate_credentials'), :type => :button, :class => 'default-credentials'
      %input{ :name => 'current_user', :value => "#{current_user.to_s.split('@')[0]}", :type => :hidden }
  -#%fieldset
  = f.fields_for :provider do |p|
    .fields
      = p.label :is_approved
      = p.check_box :is_approved
    = render :partial => '/providers/provider_fields', :locals => { :f => p, :provider => user.provider }
  .actions
    = f.submit
