%h2= t(:'admin.users.headers.title')
= link_to new_admin_user_path do
  %i.icon-plus-sign
  = t(:'admin.users.actions.create_user')
%hr/
%table.table.table-bordered.table-striped
  %thead
    %th= t(:'admin.users.headers.user')
    %th= t(:'admin.users.headers.provider')
    %th= t(:'admin.users.headers.created_at')
    %th= t(:'admin.users.headers.updated_at')
    %th{ :width => 100 }
      = t(:'admin.users.headers.is_active')
    %th= t(:'admin.users.headers.is_approved')
    %th{ :width => 100 }
      = t(:'admin.users.headers.actions')
  %tbody
    - for u in users do
      %tr
        %td
          = link_to u.email, edit_admin_user_path( u )
          = "(#{User::ACCOUNT_TYPES[u.account_type_id]})"
        %td
          - if u.providers
            - u.providers.each do |p|
              %p= link_to p, provider_path(p), :target => "_blank"
          - else
            = t(:'admin.users.headers.no_provider')
        %td= l u.created_at, :format => :short
        %td
          - if u.providers
            - u.providers.each do |p|
              %p= l p.updated_at, :format => :short
          - else
            \-
        %td
          - if u.confirmed?
            %span.label.label-warning
              &nbsp;&nbsp;&nbsp;
          - else
            %span.label
              &nbsp;&nbsp;&nbsp;
        %td
          - if u.providers
            - u.providers.each do |p|
              - if p.is_approved?
                %span.label.label-success
                  &nbsp;&nbsp;&nbsp;
              - else
                %span.label
                  &nbsp;&nbsp;&nbsp;

        %td
          = link_to admin_user_path(u), :method => :delete, :confirm => t(:'admin.users.confirms.user_destroy') do
            %i.icon-remove
            = t(:'admin.users.actions.delete_user')
.page_navigation.clear= paginate users
%hr/
= link_to new_admin_user_path do
  %i.icon-plus-sign
  = t(:'admin.users.actions.create_user')
