%h2= t(:'admin.users.headers.title')
%p= link_to t(:'admin.users.actions.create_user'), new_admin_user_path, :class => 'link-icon icon-add'
%hr/
%table
  %thead
    %th= t(:'admin.users.headers.user')
    %th= t(:'admin.users.headers.provider')
    %th= t(:'admin.users.headers.created_at')
    %th= t(:'admin.users.headers.updated_at')
    %th{ :width => 100 }
      = t(:'admin.users.headers.active')
    %th{ :width => 100 }
      = t(:'admin.users.headers.actions')
  - for u in users do
    %tr
      %td= link_to u.email, edit_admin_user_path( u )
      %td= link_to u.provider, provider_path( u.provider ) if u.provider
      %td= l u.created_at, :format => :short
      %td= l u.updated_at, :format => :short
      %td= u.is_active?
      %td= link_to 'Delete', admin_user_path(u), :method => :delete, :confirm => 'Are you sure?', :class => 'link-icon icon-delete'
.page_navigation.clear= paginate users
%hr/
%p= link_to t(:'admin.users.actions.create_user'), new_admin_user_path, :class => 'link-icon icon-add'

