= form_for custom_flag, :url => custom_flag.new_record? ? admin_custom_flags_path : admin_custom_flag_path(custom_flag)  do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => custom_flag }
  .field
    = f.label :name
  .field
    = f.text_field :name
  .actions
    = f.submit
