= form_for event_category, :url => ( event_category.new_record? ? admin_event_categories_path : admin_event_category_path(event_category) ), :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => event_category }
  .row
    .span6
      .field
        = f.label :name
        = f.text_field :name, :class => 'span5'
      .field
        = f.label :description
        = f.text_area :description, :class => 'span5'
    .span6
      .field
        %br/
        = f.label :parent_id
        = f.select :parent_id, EventCategory.all.collect{|c| [c.name, c.id]}, { :prompt => 'Root category' }, :class => 'span4'#, :disabled => ( true if posting_category.root? && !posting_category.new_record? )
      .field
        %br/
        = f.label :permalink
        = f.text_field :permalink, :class => 'span4'#, :disabled => ( true if posting_category.root? && !posting_category.new_record? )
      -#- if posting_category.root?
        %br/
        %p You can't change parent & permalink of root category, sorry ;)
      -#- unless event_category.root?
        %br/
      %br/
      = link_to admin_event_category_path(event_category), :method => :delete, :confirm => "Ты точно хочешь удалить? Ты выспался? Справка от врача есть?", :class => 'btn btn-danger' do
        %i.icon-remove.icon-white
        Destroy it!

  .form-actions
    = f.submit 'Move It Up!', :class => 'btn btn-success btn-large'
