.row
  .span6
    %fieldset
      %legend= t(:'visitor.edit_profile.main_info')
      .control-group
        %label.control-label
          = t(:'visitor.edit_profile.name')
        .controls
          = f.text_field :full_name, :class => ''


      .control-group
        %label.control-label
          = t(:'visitor.edit_profile.birth_date')
        .controls
          = f.text_field :birth_date, :class => 'datepicker'

  .span6
    %fieldset
      %legend= t(:'visitor.edit_profile.avatar')
      .control-group
        = image_tag profile.avatar_url(:medium), :class => 'control-label'
        .controls
          = f.file_field :avatar
          = f.hidden_field :avatar_cache
          %label.checkbox
            = f.check_box :remove_avatar
            = t(:'visitor.edit_profile.remove_avatar')

.row
  .span6
    %fieldset
      %legend= t(:'visitor.edit_profile.address')
      .control-group
        = f.fields_for :location do |l|
          = render :partial => 'addresses/location_fields', :locals => { :f => l }


  .span6
    %legend= t(:'visitor.edit_profile.contacts')
    %fieldset
      = f.fields_for :contacts do |c|
        = render :partial => 'contacts/contact_fields', :locals => { :f => c }
      .control-group
        = link_to_add_fields t(:'visitor.edit_profile.add_contact'), f, :contacts
.row
  .span12
    %fieldset
      %legend= t(:'visitor.edit_profile.bio')
      .control-group
        %label.control-label
          = t(:'visitor.edit_profile.bio_text')
        .controls
          = f.text_area :bio, :class => 'span4'
