.row
  .span3
    .image.thumbnail
      = image_tag profile.avatar_url(:medium)
    //.well{:style => "padding: 8px 0;"}
    %br
    %ul.nav.nav-list
      %li
        = link_to user_path(profile.user) do
          %i.icon-home.icon-dark
          = t(:'visitor.profile.home')
        = link_to user_postings_path(profile.user) do
          %i.icon-list-alt.icon-dark
          = t(:'visitor.profile.postings')
        - if profile.user === current_user
          = link_to new_user_posting_path(current_user) do
            %i.icon-plus-sign.icon-dark
            = t(:'visitor.profile.add_post')

  .span5

    %table.table-condensed
      %tbody
        - if profile.birth_date.present?
          %tr
            %td
              Birth date:
            %td
              .birth-date= l profile.birth_date
        - if profile.location.present?
          %tr
            %td
              %strong
                Address
            %td
              .address= address_value profile.location


        - if profile.contacts.present?
          - for contact in profile.contacts do
            %tr
              %td
                %span{ :class => "span-icon icon-#{contact.contact_type}" }
                  &nbsp;
              %td
                = contact_value contact
    %hr
    .bio= profile.bio