%fieldset
  .control-group

    .controls
      = f.file_field :src
      = f.hidden_field :src_cache
      = image_tag f.object.src_url(:thumb).to_s
      = link_to_remove_fields "[X]", f

  .control-group
    = f.label :title
    .controls
      = f.text_field :title, :placeholder => 'Title', :class => 'span6'
  .control-group
    = f.label :description
    .controls
      = f.text_area :description, :placeholder => 'Description', :class => 'span6'

