%fieldset
  %legend= t(:'postings.main_image.legend')
  .control-group
    %label.control-label
      - if f.object.src_url.present?
        = image_tag f.object.src_url(:small).to_s
    .controls
      = f.file_field :src
      = f.hidden_field :src_cache
  .control-group
    = f.label t(:'postings.main_image.title'), :class => 'control-label'
    .controls
      = f.text_field :title, :placeholder => t(:'postings.main_image.title_placeholder'), :class => 'span7'
  .control-group
    = f.label t(:'postings.main_image.description'), :class => 'control-label'
    .controls
      = f.text_field :description, :placeholder => t(:'postings.main_image.description_placeholder'), :class => 'span7'
