- set_meta_tags :title => t(:'seo.sections.info.authors')#, :description => info_page.body
.row
  .span8
    %legend
      %h1 Авторы
    .row
      - @authors.each do |author|
        - if author.profile.present? && author.postings.present?
          .span4
            .row
              .span1
                = link_to author.profile, :class => 'thumbnail' do
                  = image_tag author.profile.avatar_url(:thumb)
              .span3
                %p
                  = link_to profile_path(author.profile) do
                    = author.profile.full_name
                %p
                  = t(:'visitor.profile.profile_age')
                  = time_ago_in_words author.created_at
                %p
                  = link_to user_postings_path(author), :class => '' do
                    Статьи автора
                    (#{author.postings.size})
            %hr/
  .span4
    = render :partial => 'shared/advertising/kursor_ads'

