!!!
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}/
  /
    Always force latest IE rendering engine (even in intranet) &amp; Chrome Frame
  %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
  = display_meta_tags :site => t(:'seo.meta.site_name'), :reverse => true
  / Mobile viewport optimized: j.mp/bplateviewport
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=2.0"}
  / Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  %link{ :href => "http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin", :rel => "stylesheet", :type => "text/css"}/
  /[if IE]
    %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
  %script{ :type => "text/javascript", :src => "http://vk.com/js/api/share.js?11" }
  %script{ :type => "text/javascript", :src => "http://userapi.com/js/api/openapi.js?52" }
  = render :partial => 'shared/google_analytics_code' unless Rails.env.development?
  = render :partial => 'shared/dfp'
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  :javascript
    VK.init({apiId: 2900318, onlyWidgets: true});
  #fb-root
  :javascript
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=383815018325312";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
%body
  .sidebar-register-fixed
    = link_to '/register' do
      = image_tag 'register.png'
  #page
    %header.container
      = render :partial => 'shared/header'
    #main.container
      .flash= render 'shared/flash_messages'
      = yield
    = render :partial => 'shared/footer'

  = yield :scripts
  = render :partial => 'shared/disqus/counter'
  -#= render :partial => 'shared/welcome_colorbox'
  - unless Rails.env.development?
    = render :partial => 'shared/widgets/siteheart'
    -#= render :partial => 'shared/widgets/reformal'

