!!!
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}/
  /
    Always force latest IE rendering engine (even in intranet) &amp; Chrome Frame
  %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
  -#%meta{:content => "", :name => "description"}/
  -#%meta{:content => "", :name => "author"}/
  = display_meta_tags :site => t(:'seo.meta.site_name'), :reverse => true
  / Mobile viewport optimized: j.mp/bplateviewport
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=2.0"}
  / Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  %link{ :href => "http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin", :rel => "stylesheet", :type => "text/css"}/
  /[if IE]
    %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
  %script{ :type => "text/javascript", :src => "http://vk.com/js/api/share.js?11" }
  %script{ :type => "text/javascript", :src => "http://userapi.com/js/api/openapi.js?49" }
  = render :partial => 'shared/yandex_metrika_code' unless Rails.env.development?
  = render :partial => 'shared/google_analytics_code' unless Rails.env.development?
  = render :partial => 'shared/dfp'
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  #fb-root
  :javascript
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=383815018325312";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
%body

  #page
    %header.container
      %h1#logo.ir
        = link_to 'КУРСОР - образовательный портал', root_url
      %form.form-search{ :action => '/search', :method => :get, :style => 'padding: 5px 5px 5px 20px; margin: 50px 0px 0px 0px; float: right;'}
        = text_field_tag 'q', params[:q], :placeholder => 'название школы, курсов и т.д.', :class => 'input-large search-query', :id => 'home-search-typehead'
        = button_tag 'Поиск', :class => 'btn'
      %span.pager{:style => 'padding: 5px; margin: 50px 0px 0px; float: right;'}
        %a
          Портал работает в тестовом режиме
      = render :partial => 'shared/top_nav'
      = render :partial => 'shared/login_bar'
    #main.container
      = gflash
      -#= gritter_flash_messages
      .flash= render 'shared/flash_messages'
      = yield
    = render :partial => 'shared/footer'

  = yield :scripts
  = render :partial => 'shared/disqus/counter'
  = render :partial => 'shared/widgets/reformal' unless Rails.env.development?
